{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
{% block about %}active{% endblock %}
{% block app_style %}
{% endblock %}
<div class="main-body">
    <div class="container">
        <div class="mt-3">
            <div class="p-3">
                <div class="pt-3 mb-3">
                    <h3>A call for help...</h3>
                    <p>Trek View is currently run as a side-project to my day job. Whilst myself and the generous contributions of others help us maintain and improve our open source software, hosting and software costs for our projects are not always free.</p>
                    <p>I currently pay $200 each month out of my own pocket to keep Map the Paths online and freely available to users without ads.</p>
                    <p>My intention is to keep as much of this app free as is possible, but for some features we need your support as a Patreon. Your money will go directly to growing this project and awesome new features.</p>
                    <p><a target="_blank" href="https://www.patreon.com/trekview">Please click here to support the project (from £5/mo)</a>.</p>
                </div>
                <div class="pt-3 mb-3">
                    <h3>About Map the Paths</h3>
                </div>
                <div class="challenge-body">
                    <p><strong>Access off-road street-level imagery and map data from all over the world. Fill in the gaps by requesting new coverage or capturing your own.</strong></p>
                    <p>Map the Paths allows you to classify and share your off-road street-level map imagery.</p>
                    <ul>
                        <li><a href="https://www.mapthepaths.com/uploader">Import</a>: Import images from Mapillary or upload directly using the desktop uploader.</li>
                        <li><a href="">Photos</a>: Photos are street-level images that belong to a Sequence</li>
                        <li>Sequences</a>: Sequences are collections of images continuously captured by a user at a give time. Browse those created by others, or import your own from Mapillary.</li>
                        <li><a href="">Tours</a>: Tours are collections of sequences that have been curated by their owner. Browse others' tours or create one using your own sequences.</li>
                        <li><a href="">Guidebooks</a>: Create a guidebook of street-level photos to show people around a location. View others people have created to help plan your next adventure.</li>
                        <li><a href="">Challenges</a>: Help make better maps by contributing to challenges with specific requests for imagery.</li>
                        <li><a href="">Leaderboards</a>: See who is topping the leaderboards for Sequences imported and Viewpoints -- both all time and challenge specific -- to see where you place in the rankings.</li>
                        <li><a href="">Hire</a>: Find paid help for image collection projects to create fresh street level map data in locations where it's needed for Google Street View, Mapillary, and more.</li>
                        <li><a href="">API</a>: Integrate your own app with Map the Paths.</li>
                    </ul>
                    <p>Map the Paths is an open-source project.<a href="https://github.com/trek-view/mtp-web" target="_blank">You can view the code for this website</a>, and <a href="https://github.com/trek-view/" target="_blank">all our other work on Github</a>.</p>
                </div>
                <div class="pt-3 mb-3">
                    <h3>About Trek View</h3>
                </div>
                <div class="challenge-body">
                    <p><a href="https://www.trekview.org/" target="_blank">Map the Paths is a project maintained by Trek View</a></p>
                    <p><em>"You can't protect what you don't understand."</em></p>
                    <p><em>"People won't change unless they care."</em></p>
                    <p>Trek View is using street-level panoramic maps of the natural world to inspire everyone to preserve it.</p>
                    <p>We use computer vision to classify what's inside an image; from species of trees and their health, to coastal erosion and its impact.</p>
                    <p>Our work is used by researchers to quickly understand the health of the environment so they can generate solutions to protect it.</p>
                    <p><a href="https://www.trekview.org/about/" target="_blank">Find out more about our work here.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
