{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
{% block about %}active{% endblock %}
{% block app_style %}
{% endblock %}
<div class="main-body">
    <div class="container">
        <div class="mt-3">
            <div class="p-3">
                <div class="pt-3 mb-3">
                    <h3>About Map the Paths</h3>
                </div>
                <div class="challenge-body">
                    <p>In 2019 I bought my first 360 camera, a GoPro Fusion. I used the camera to start recording some of my hikes to share with friends, family and YouTube.</p>
                    <p>A friend then told me this content could be uploaded and mapped on Google Street View. So I started uploading my content to Google.</p>
                    <p>Many millions of steps later I had lots of content on Street View but no easy way to search and share it.</p>
                    <p>I wanted to be able to quickly pull up images taken by bike. Or at the top of a summit. Unfortunately this meant knowing where to look and dropping a peg man onto Google Maps.</p>
                    <p>And so the idea Map the Paths was born.</p>
                    <p><strong>Map the Paths is a platform for uploading and managing off-road street-level imagery captured by anyone, anywhere in the world.</strong></p>
                    <p>Map the Paths is an open-source project. <a href="https://github.com/trek-view/mtp-web" target="_blank">You can view the source code here</a>. Pull request are always welcomed.</p>
                </div>
                <div class="pt-3 mb-3">
                    <h3>About Trek View</h3>
                </div>
                <div class="challenge-body">
                    <p>Map the Paths is a project maintained by <a href="https://www.trekview.org/" target="_blank">Trek View</a></p>
                    <p>Trek View is using street-level panoramic imagery of the natural world to inspire everyone to start exploring it.</p>
                    <p>We want to give anyone, anywhere, the confidence to explore the great outdoors.</p>
                    <p><a href="https://www.trekview.org/about/" target="_blank">Find out more about our work here.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}