{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
{% block about %}active{% endblock %}
{% block app_style %}
{% endblock %}
<div class="main-body">
    <div class="container">
        <div class="mt-3">
            <div class="p-3">
                <div class="pt-3 mb-3">
                    <h3>About Map the Paths</h3>
                </div>
                <div class="challenge-body">
                    <p><strong>Access off-road street-level imagery and map data from all over the world. Fill in the gaps by requesting new coverage or capturing your own.</strong></p>
                    <p>Map the Paths allows you to classify and share your off-road street-level map imagery.</p>
                    <ul>
                        <li><a href="https://www.mapthepaths.com/uploader">Import</a>: Import images from Mapillary or upload directly using the desktop uploader.</li>
                        <li>Photos: Photos are street-level images that belong to a Sequence</li>
                        <li>Sequences: Sequences are collections of images continuously captured by a user at a give time. Browse those created by others, or import your own from Mapillary.</li>
                        <li>Tours: Tours are collections of sequences that have been curated by their owner. Browse others' tours or create one using your own sequences.</li>
                        <li>Guidebooks: Create a guidebook of street-level photos to show people around a location. View others people have created to help plan your next adventure.</li>
                        <li>Challenges: Help make better maps by contributing to challenges with specific requests for imagery.</li>
                        <li>Leaderboards: See who is topping the leaderboards for Sequences imported and Viewpoints -- both all time and challenge specific -- to see where you place in the rankings.</li>
                        <li>Hire: Find paid help for image collection projects to create fresh street level map data in locations where it's needed for Google Street View, Mapillary, and more.</li>
                        <li>API: Integrate your own app with Map the Paths.</li>
                    </ul>
                    <p><a href="https://github.com/trek-view/mtp-web" target="_blank">Map the Paths is an open-source project -- you can help improve Map the Paths</a>.</p>
                </div>
                <div class="pt-3 mb-3">
                    <h3>About Trek View</h3>
                </div>
                <div class="challenge-body">
                    <p><a href="https://www.trekview.org/" target="_blank">Map the Paths is a project maintained by Trek View</a></p>
                    <p><em>"You can't protect what you don't understand."</em></p>
                    <p><em>"People won't change unless they care."</em></p>
                    <p>Trek View is using street-level panoramic maps of the natural world to inspire everyone to preserve it.</p>
                    <p>We use computer vision to classify what's inside an image; from species of trees and their health, to coastal erosion and its impact.</p>
                    <p>Our work is used by researchers to quickly understand the health of the environment so they can generate solutions to protect it.</p>
                    <p><a href="https://www.trekview.org/about/" target="_blank">Find out more about our work here.</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

