{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/dropzone.min.css' %}" type='text/css' rel='stylesheet' />
<script src="{% static 'js/dropzone.min.js' %}" type='text/javascript'></script>
{% block app_profile %}active{% endblock %}
{% block app_style %}<link rel="stylesheet" href="{% static 'css/profile_style.css' %}">{% endblock %}
<div class="main-body">
    <div class="container">
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="user-detail pt-3 pb-3">
                    <div class="d-flex flex-row">
                        <div class="d-flex flex-column align-items-center mr-3" style="width: 120px" id="user_avatar">
                            <div class="dz-image-cover">
                                {% if current_user.avatar != '' and current_user.avatar != None %}
                                    <img style="width: 120px; height: 120px; border-radius: 50%;"  src="{{ MEDIA_URL }}{{ current_user.avatar }}">
                                {% else %}
                                    <img style="width: 120px; height: 120px; border-radius: 50%;" src="{% static 'images/icon/avatar1.png' %}">
                                {% endif %}
                            </div>
                            {% if request.user.is_authenticated and current_user == request.user %}
                                <div class="text-right mt-3 ml-2">
                                    <button type="button" data-toggle="modal" data-target="#uploadPictureModal" class="btn btn-sm btn-warning" id="change_file">Change Picture</button>
                                </div>
                            {% endif %}
                        </div>
                        <div style="width: calc(100% - 140px)">
                            <div class="main-user">
                                <div class="d-flex flex-row justify-content-between w-100 user-username text-center text-info mt-1">
                                    <h3>
                                        {{ current_user.username }}
                                    </h3>
                                    {% if request.user.is_authenticated  and current_user == request.user %}
                                        <div class="action text-right mt-2">
                                            <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#userDetailModal" id="edit_button">Edit</button>
                                        </div>
                                    {% endif %}
                                </div>

                                {% if request.user.is_authenticated and request.user == current_user %}
                                    <div class="user-email">
                                        <h5 class="mb-1">{{ current_user.email }} (only visible to you)</h5>
                                    </div>
                                {% endif %}

                                {% if current_user.first_name == '' or current_user.last_name == '' %}
                                    <div class="user-name">
                                        <p class="mb-1">
                                            Name field is empty.
                                        </p>
                                    </div>
                                {% else %}
                                    <div class="user-name">
                                        <p class="mb-1">{{ current_user.first_name }} {{ current_user.last_name }}</p>
                                    </div>
                                {% endif %}

                                {% if current_user.description is None or current_user.description == '' %}
                                    <div class="user-description mt-2" >
                                        <p class="mb-1">
                                            Description field is empty.
                                        </p>
                                    </div>
                                {% else %}
                                    <div class="user-description mt-2" >
                                        <p class="mb-1">{{ current_user.description }}</p>
                                    </div>
                                {% endif %}

                                {% if current_user.website_url == '' or current_user.website_url is None %}
                                    <div class="user-website mt-2">
                                       Website Url field is empty.
                                    </div>
                                {% else %}
                                    <div class="user-website mt-2">
                                        <a class="" href="{{ current_user.website_url }}">{{ current_user.website_url }}</a>
                                    </div>
                                {% endif %}

                                {% if request.user.is_authenticated and current_user == request.user %}
                                    <div class="link-developer mt-2 text-right">
                                        <a class="btn btn-sm btn-outline-primary" href="{% url 'oauth2_provider:list' %}">Developer</a>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-md-6">
                <div class="row pt-3">
                    <div class="col-md-3">
                        <div class="badge" id="mapper_label">
                            <label >Mapper</label>
                            <p>{{ mapper_label }}</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="badge" id="guidebook_label">
                            <label>Guidebook</label>
                            <p>{{ guidebook_label }}</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="badge" id="finder_label">
                            <label>Finder</label>
                            <p>{{ finder_label }}</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="badge" id="spotter_label">
                            <label>Spotter</label>
                            <p>{{ spotter_label }}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <hr class="mt-1 mb-1" />

        <div class="row">
            <div class="col-md-6 mt-3">
                <div class="card p-2 section w-100">
                    <div class="users h-100 d-flex flex-column justify-content-between">
                        <a class="btn btn-outline-info" href="/guidebook/list?username={{ current_user.username }}">Guidebooks created({{ guidebooks_count }})</a>
                        <a class="btn btn-outline-info" href="/guidebook/list?username={{ current_user.username }}&like=true">Guidebooks liked({{ guide_like_count }})</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-3">
                <div class="card p-2 section w-100">
                    <div class="users h-100 d-flex flex-column justify-content-between">
                        <a class="btn btn-outline-info" href="/tour/list?username={{ current_user.username }}">Tours created({{ tours_count }})</a>
                        <a class="btn btn-outline-info" href="/tour/list?username={{ current_user.username }}&like=true">Tours liked({{ tour_like_count }})</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-3">
                <div class="card p-2 section w-100">
                    <div class="users h-100 d-flex flex-column justify-content-between">
                        <a class="btn btn-outline-info" href="/sequence/list?username={{ current_user.username }}">Sequences Created({{ sequences_count }})</a>
                        <a class="btn btn-outline-info" href="/sequence/list?username={{ current_user.username }}&like=true">Sequences liked({{ seq_like_count }})</a>
                    </div>
                </div>
            </div>

            <div class="col-md-6 mt-3">
                <div class="card p-2 section w-100">
                    <div class="users h-100 d-flex flex-column justify-content-between">
                        <a class="btn btn-outline-info" href="/sequence/list?username={{ current_user.username }}">Viewpoints received({{ view_point_count }})</a>
                        <a class="btn btn-outline-info" href="/sequence/list?username={{ current_user.username }}&like=true">Viewpoints marked({{ marked_point_count }})</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="uploadPictureModal" tabindex="-1" role="dialog" aria-labelledby="uploadPictureModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadPictureModalLabel">Upload Picture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="file-upload">
                    <form action="{% url 'account.ajax_upload_file' %}" class="dropzone ml-auto mr-auto d-flex align-items-center justify-content-center">
                      <div class="fallback">
                        <input name="avatar" type="file" multiple="false" />
                      </div>
                    </form>
                    <div class="text-right mt-3">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary d-none" id='uploadfile'>Upload</button>
                <button type="button" class="btn btn-danger d-none" id="removefile">Remove</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
    
<!-- Modal -->
<div class="modal fade" id="userDetailModal" tabindex="-1" role="dialog" aria-labelledby="userDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="userDetailModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="main-user-form">
                    <form method="POST" class="post-form" id="user_edit_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-btn" id="user_save_button">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    $('#user_cancel_button').click(function () {
        $('.main-user-form').addClass('d-none');
        $('.main-user').removeClass('d-none');
    });
    $('#user_save_button').click(function () {
        if ($('#user_edit_form').isValid()) {
            $.ajax({
                url: "{% url 'account.ajax_user_update' %}",
                type: 'POST',
                data: $('#user_edit_form').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.status == 'failed')
                        toastr.error(data.message);
                    else
                    {
                        toastr.success(data.message);
                        var user = data.user;
                        $('.main-user .user-email h5').html(user.email);
                        $('.main-user .user-name p').html(user.first_name + ' ' + user.last_name);
                        $('.main-user .user-description p').html(user.description);
                        $('.main-user .user-website').html('<a class="" href="' + user.website_url + '">' + user.website_url + '</a>');
                    }
                    $('#userDetailModal').modal('hide');
                }
            });
        }
    });

    Dropzone.autoDiscover = false;
    {% if current_user.avatar == '' or current_user.avatar is None %}
        var server_image = false;
    {% else %}
        var server_image = true;
    {% endif %}

    var myDropzone = new Dropzone(".dropzone", {
        autoProcessQueue: false,
        uploadMultiple: false,
        parallelUploads: 1,
        paramName: "avatar", // The name that will be used to transfer the file
        maxFilesize: 20,
        {#addRemoveLinks: true,#}
        maxFiles: 1,
        thumbnailWidth: 200,
        thumbnailHeight: 200,
        sending: function(file, xhr, formData) {
            formData.append("csrfmiddlewaretoken", '{{ csrf_token }}');
        },
        init: function() {
            this.on("maxfilesexceeded", function(file) {
                this.removeAllFiles();
                this.addFile(file);
            });
            this.on("success", function(file, responseText) {
                toastr.success('A picture is updated successfully.');
            });
            this.on("thumbnail", function(file, dataUrl) {
                $('.dz-image').css('border-radius', '0px');
                $('.dz-image img').css('width', '100%');
                $('.dz-image img').css('height', '100%');
                $('.dz-details').remove();
                $('.dropzone .dz-preview').off('hover');
            });
            this.on('addedfile', function () {
                $('#uploadfile').removeClass('d-none');
                $('#removefile').removeClass('d-none');
                if (server_image)
                    $('#cancelfile').removeClass('d-none');
                else
                    $('#cancelfile').addClass('d-none');
            });
            this.on('removedfile', function () {
                $('#uploadfile').addClass('d-none');
                $('#removefile').addClass('d-none');
            });
            this.on('complete', function () {
                var h = $('.dz-image').html();
                $('.dz-image-cover').html(h);
                server_image = true;
                this.removeAllFiles();
                $('#cancelfile').addClass('d-none');
                $('#uploadPictureModal').modal('hide');
                $('#user_cover_image').removeClass('d-none');
            });

            $('#change_file').click(function () {
                $('#user_cover_image').addClass('d-none');
                $('#file-upload').removeClass('d-none');
            });
        }
    });

    $('#cancelfile').click(function () {
        myDropzone.removeAllFiles();
        $('#user_cover_image').removeClass('d-none');
        $('#file-upload').addClass('d-none');
    });

    $('#removefile').click(function () {
        myDropzone.removeAllFiles();
    });

    $('#uploadfile').click(function(){
        myDropzone.processQueue();
    });
</script>

<script>
    function switch_maillist() {
        if ($('#id_is_maillist').hasClass('d-none'))
        {
            $('#id_is_maillist').prev().addClass('d-none');
        }
        else {
            $('#id_is_maillist').prev().addClass('d-none');
        }
    }
    
    switch_maillist()
</script>
{% endblock %}