{% extends 'layouts/auth/base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
    <div class="container">
        <div class="content p-5">
		  <h1>Forgot your password?</h1>
		  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
		  <form method="POST" onsubmit="return check_actived_user()">
		    {% csrf_token %}
		    {{ form.as_p }}
              <div class="text-danger user-none mb-3 d-none">
                  The email is not registered. Click <a href="{% url 'signup' %}">here</a> to sign up.
              </div>
              <div class="text-danger user-disabled mb-3 d-none">
                  Account not confirmed. Click <a href="">here</a> to resend confirmation email.
              </div>
		    <input type="submit" value="Send me instructions!">
		  </form>
		</div>
	</div>

{% endblock %}

{% block scripts %}
    <script>
        function check_actived_user() {
            let return_flag = false;
            $.ajax({
                type: 'GET',
                url: '{% url "check_unconfirmed_user" %}',
                async: false,
                dataType: 'json',
                data: {'email': $('#id_email').val()},
                success: function (data) {
                    if  (data.status == 'success') {
                        if (data.type == 'enabled') {
                            return_flag = true;
                        }
                        else if (data.type == 'disabled') {
                            $('.user-disabled').removeClass('d-none');

                            let url = "{% url 'retry_verify_user' email='email' %}";
                            url = url.replace('email', $('#id_email').val());
                            $('.user-disabled a').attr('href', url);
                        }
                        else if (data.type == 'none') {
                            $('.user-none').removeClass('d-none');
                        }
                    }
                }
            })
            return return_flag;
        }

        $('#id_email').change(function () {
            $('.user-disabled').addClass('d-none');
            $('.user-none').addClass('d-none');
        })
    </script>
{% endblock %}