{% load static %}

<div class="paginator">
    {% if images.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if images.number != 1 %}
                <li class="page-item">
                    <a class="btn paginator-btn page-link" data-page='1' onclick="goto_page(1)">&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="btn page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                </li>
            {% endif %}
            {% for i in images.paginator.pages %}
                {% if images.number == i %}
                    <li class="active page-item"><a class="btn paginator-btn page-link bg-info" data-page='{{ i }}' >{{ i }}</a></li>
                {% else %}
                    <li><a class="btn paginator-btn page-link" data-page='{{ i }}' onclick="goto_page('{{ i }}')">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if images.number != images.paginator.num_pages %}
                <li class="page-item"><a class="btn paginator-btn page-link" data-page='{{ images.paginator.num_pages }}' onclick="goto_page('{{ images.paginator.num_pages }}')">&raquo;</a></li>
            {% else %}
                <li class="disabled page-item"><a class="btn page-link disabled" href="#">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
</div>

<div class="image-card-list">
    {% for image in images %}
        <div class="card p-2 mb-3" onclick="move_image('{{ image.key }}')" style="cursor: pointer" id="image_{{ image.key }}">
            <div class="image-key text-primary">
                <span><small>key: </small>{{ image.key }}</span>
            </div>
            <div class="image-position d-flex justify-content-between">
                <span><small>Lat: </small>{{ image.lat }}</span>
                <span><small>Lng: </small>{{ image.lng }}</span>
            </div>
            <div class="image-view-point d-flex justify-content-between">
                <span><small>Guidebooks: </small>{% if not image.guidebooks or image.guidebooks is None %}0{% else %}{{ image.guidebooks }}{% endif %}</span>
                <span><small>View Points: </small>{% if not image.view_points or image.view_points is None %}0{% else %}{{ image.view_points }}{% endif %}</span>
            </div>
        </div>
{#        <tr>#}
{#            <td>{{ image.view_point }}</td>#}
{#            <td>{{ image.key }}</td>#}
{#            <td>{{ image.lat }}</td>#}
{#            <td>{{ image.lng }}</td>#}
{#            <td>{{ image.cas }}</td>#}
{#            <td class="text-center">#}
{#                <a target="_blank" href="https://www.mapillary.com/map/im/{{ image.key }}">#}
{#                    <img style="width: 80px" src="{% static 'images/icon/mapillary_icon.png' %}" />#}
{#                </a>#}
{#            </td>#}
{#        </tr>#}
    {% endfor %}
</div>

<div class="paginator">
    {% if images.has_other_pages %}
        <ul class="pagination justify-content-center">
            {% if images.number != 1 %}
                <li class="page-item">
                    <a class="btn paginator-btn page-link" data-page='1'>&laquo;</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="btn page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                </li>
            {% endif %}
            {% for i in images.paginator.pages %}
                {% if images.number == i %}
                    <li class="active page-item"><a class="btn paginator-btn page-link bg-info" data-page='{{ i }}'>{{ i }}</a></li>
                {% else %}
                    <li><a class="btn paginator-btn page-link" data-page='{{ i }}'>{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if images.number != images.paginator.num_pages %}
                <li class="page-item"><a class="btn paginator-btn page-link" data-page='{{ images.paginator.num_pages }}'>&raquo;</a></li>
            {% else %}
                <li class="disabled page-item"><a class="btn page-link disabled" href="#">&raquo;</a></li>
            {% endif %}
        </ul>
    {% endif %}
</div>