{% load static %}
<div class="mt-3 p-2 item-detail card">
    <div class="image-detail">
        <div class="mt-2">
            <label class="col-4">Key: </label>
            <span class="col-8">{{ image.image_key }}</span>
        </div>
        <div class="mt-2">
            <label class="col-4">Camera Make: </label>
            <span class="col-8">{{ image.camera_make }}</span>
        </div>
        <div class="mt-2">
            <label class="col-4">Camera Model: </label>
            <span class="col-8">{{ image.camera_model }}</span>
        </div>
        <div class="mt-2">
            <label class="col-4">Sequence Key: </label>
            <span class="col-8">{{ image.seq_key }}</span>
        </div>
        <div class="mt-2">
            <label class="col-4">Pano: </label>
            <span class="col-8">{{ image.pano }}</span>
        </div>
        <div class="mt-2">
            <label class="col-4">User Key: </label>
            <span class="col-8">{{ image.user_key }}</span>
        </div>
        <div class="mt-2">
            <label class="col-4">Username: </label>
            <span class="col-8">{{ image.username }}</span>
        </div>
        <div class="mt-2">
            <label class="col-4">Organization Key: </label>
            <small class="col-8">{% if not image.oranization_key is None %}{{ image.organization_key }}{% endif %}</small>
        </div>
        <div class="mt-2">
            <label class="col-4">Lat: </label>
            <span class="col-8">{{ image.lat }}</span>
        </div>
        <div class="mt-2">
            <label class="col-4">Lng: </label>
            <span class="col-8">{{ image.lng }}</span>
        </div>
        <div class="mt-2">
            <label class="col-4">Ele: </label>
            <span class="col-8">{{ image.ele }}</span>
        </div>

        <div class="mt-2 d-flex flex-row justify-content-center align-items-center" id="mapillary-view">
            <a target="_blank" class="mr-2" href="https://www.openstreetmap.org/edit?editor=id#map=18/{{ image.lng }}/{{ image.lat }}&photo_overlay=mapillary">
                <img style="width: 32px" src="{% static "images/icon/90606167-57892980-e1f7-11ea-96e7-ed01ef35b2b7.png" %}" />
            </a>
            {% if sequence.google_street_view %}
            <a class="mr-2" target="_blank" href="https://www.google.co.uk/maps/@{{ image.lng }},{{ image.lat }},14z">
                <img src="https://www.google.com/images/branding/product/ico/maps15_bnuw3a_32dp.ico" />
            </a>
            {% endif %}
            <a target="_blank" class="" href="https://www.mapillary.com/map/s/{{ sequence.seq_key }}" />
                <img style="width: 32px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQiTHrSFBxGdPFbRSCEXLo3IB1IzMS50F_V0Q&usqp=CAU">
            </a>
        </div>
    </div>

    <hr class="mt-3 mb-1">

    <div class="image-others float-right d-flex flex-row justify-content-between mt-2">
        <div class="guidebook text-center">
            <img style="width: 40px" src="{% static 'images/icon/62-512.png' %}" />
            <a href="{% url 'guidebook.guidebook_list' %}?image_key={{ image.image_key }}">
                <span class="text-center m-0">
                    {{ guidebook_count }} Guidebooks
                </span>
            </a>
        </div>
        <div class="view_point text-center">
            <img style="width: 40px; " src="{% static 'images/icon/images (1).jfif' %}" />
            <span class="text-center m-0">
                {{ view_points }} View Points
            </span>
        </div>
    </div>
</div>