{% extends 'layouts/base.html' %}
{% load static %}
{% block app_sequence %}active{% endblock %}
{% block app_style %}<link rel="stylesheet" href="{% static 'css/sequence_style.css' %}">{% endblock %}
{% block content %}
{{ addSequenceForm.media }}
<div class="main-body">
    <div class="left-side d-flex flex-column justify-content-between">
        <div>
            <div class="text-right mt-2 mb-2 pt-3 pr-3">
                <a type="button" class="btn btn-info" href="{% url 'sequence.index' %}">Back</a>
            </div>

            <div class="pl-3 pr-3">
                <div class="pt-3 mb-3">
                    <h3>
                        Import Sequences
                    </h3>
                </div>
                <p>
                    {{ pageDescription }}
                </p>
            </div>

            {% if messages %}
                {% for message in messages %}
                <div class="alert m-3 alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}

            <div class="mt-4">

            </div>

            <div class="p-3" style="border-top: 1px solid #dee2e6;">
                <form id="search_form">
                    {% load bootstrap4 %}
                    {% bootstrap_css %}
                    {{ search_form.media }}
                    {{ search_form.as_p }}
                    <div class="form-group text-right mt-3">
                        <button type="submit" class="save btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
        {% include 'components/copyrite.html' %}
    </div>
    <div class="right-board list bg-light">
        <div class="switch-list-viewer">
            <label for="switch-list-viewer"></label><input class="" {% if request.GET.view_type is not None and request.GET.view_type == 'map-view' %}checked{% endif %} type="checkbox" id="switch-list-viewer" data-toggle="toggle" data-on="Map View" data-off="List View" data-onstyle="success" data-offstyle="primary">
        </div>
        <div id="list-view" class="{% if request.GET.view_type is not None and request.GET.view_type == 'map-view' %}d-none{% endif %} mt-4 mb-2 ml-auto mr-auto">
            <div class="paginator">
                {% if sequences.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if sequences.number != 1 %}
                            <li class="page-item">
                                <a class="btn paginator-btn page-link" data-page='1'>&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="btn page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in sequences.paginator.pages %}
                            {% if sequences.number == i %}
                                <li class="active page-item"><a class="btn paginator-btn page-link bg-info" data-page='{{ i }}'>{{ i }}</a></li>
                            {% else %}
                                <li><a class="btn paginator-btn page-link" data-page='{{ i }}'>{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if sequences.number != sequences.paginator.num_pages %}
                            <li class="page-item"><a class="btn paginator-btn page-link" data-page='{{ sequences.paginator.num_pages }}'>&raquo;</a></li>
                        {% else %}
                            <li class="disabled page-item"><a class="btn page-link disabled" href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="sequence-list">
                {% if seq_count > 0 %}
                    {% for sequence in sequences %}
                        <div class="card row sequence pt-3 pb-3 m-3 d-flex flex-row align-items-center" id="sequence_{{ sequence.seq_key }}" data-sequence-id="{{ sequence.seq_key }}">
                            <div class="col-md-4 ">
                                <div class="min-map-box" style="height: 208px" id="map-{{ sequence.seq_key }}">
                                </div>

                            </div>
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col d-flex flex-row ">
                                        <div class="detail-box">
                                            <div class="sequence-main float-left">
                                                <div class="sequence-captured-at text-info">
                                                    <span>Captured:</span>
                                                    <h6>
                                                        {{ sequence.captured_at }}
                                                    </h6>
                                                </div>

                                                <div class="sequence-created-at">
                                                    <span>Uploaded:</span>
                                                    <p class="mb-1">
                                                        {{ sequence.created_at }}
                                                    </p>
                                                </div>

                                                <div class="sequence-camera-make" style="color: blueviolet;">
                                                    <span>Camera Make:</span>
                                                    <p class="mb-1">
                                                        {{ sequence.camera_make }}
                                                    </p>
                                                </div>

                                                <div class="sequence-image-count" style="color: #a79f9f;">
                                                    <span>Number of photos:</span>
                                                    <p class="mb-1">
                                                        {{ sequence.image_count }}
                                                    </p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col d-flex align-items-center">
                                        <div class="transport-btn w-100 text-center">
                                            <button type="button" class="btn btn-warning mb-3" onclick="show_add_modal('{{ sequence.seq_key }}')">
                                                Import
                                            </button>
                                            <br>
                                            <a target="_blank" class="btn btn-info" href="https://www.mapillary.com/app/?pKey={{ sequence.first_image_key }}&focus=photo">
                                                View on Mapillary
                                            </a>
                                        </div>
                                        <div class="added-form w-100 d-none">
                                            <div class="sequence-name">
                                                <p class="w-25 mb-0" style="color: #FF9800;">Name: </p>
                                                <p class="w-75 contents">Test Name</p>
                                            </div>
                                            <div class="sequence-description">
                                                <p class="w-25 mb-0" style="color: #9E9E9E;">Description: </p>
                                                <p class="w-75 contents">This is my first test. so I want to import </p>
                                            </div>
                                            <div class="sequence-transport-type" style="color: blueviolet;">
                                                <p class="w-25 mb-0">Transport Type: </p>
                                                <p class="w-75 contents">Type 1</p>
                                            </div>
                                            <div class="sequence-tag">
                                                <p class="w-25 mb-0">Tags: </p>
                                                <p class="w-75 contents">
                                                </p>
                                            </div>
                                            <div class="actions text-right">
                                                <a type="button" target="_blank" href="{% url 'sequence.sequence_detail' unique_id='unique_id' %}">
                                                    Go to detail page.
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    {% endfor %}
                {% else %}
                    <div class="no-results d-flex justify-content-center align-items-center">
                        <h5 class="text-info">No results match your criteria.</h5>
                    </div>
                {% endif %}
            </div>
            <div class="paginator">
                {% if sequences.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if sequences.number != 1 %}
                            <li class="page-item">
                                <a class="btn paginator-btn page-link" data-page='1'>&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="btn page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in sequences.paginator.pages %}
                            {% if sequences.number == i %}
                                <li class="active page-item"><a class="btn paginator-btn page-link bg-info" data-page='{{ i }}'>{{ i }}</a></li>
                            {% else %}
                                <li><a class="btn paginator-btn page-link" data-page='{{ i }}'>{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if sequences.number != sequences.paginator.num_pages %}
                            <li class="page-item"><a class="btn paginator-btn page-link" data-page='{{ sequences.paginator.num_pages }}'>&raquo;</a></li>
                        {% else %}
                            <li class="disabled page-item"><a class="btn page-link disabled" href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="{% if request.GET.view_type is None or request.GET.view_type != 'map-view' %}d-none{% endif %}" id="map">

        </div>
    </div>
</div>

<!-- Sequence Form Modal -->
<div class="modal fade mt-5 pt-5" id="add_form_modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="add_form_modal" aria-hidden="true">
  <div class="modal-dialog" style="max-width: 434px" role="document">
    <div class="modal-content" >
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Information for Map the Paths</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="modal-map" id="modal_map" style="width: 100% !important; height: 300px !important;">
          </div>
          <div class="modal-sequence-detail mt-2">
              <div class="sequence-main">
                    <div class="sequence-captured-at text-info">
                        <span>Captured:</span>
                        <span class="text">
                        </span>
                    </div>

                    <div class="sequence-created-at">
                        <span>Uploaded:</span>
                        <span class="mb-1 text">
                        </span>
                    </div>

                    <div class="sequence-camera-make" style="color: blueviolet;">
                        <span>Camera Make:</span>
                        <span class="mb-1 text">
                        </span>
                    </div>

                    <div class="sequence-image-count" style="color: #a79f9f;">
                        <span>Number of photos:</span>
                        <span class="mb-1 text">
                        </span>
                    </div>

                </div>
          </div>
          <hr class="mt-1 mb-1">
          <form id="add_form">
              {% csrf_token %}
              {{ addSequenceForm.as_p }}
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm btn-cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary btn-sm btn-save" onclick="save_add_form(false)">Import Now</button>
        <button type="button" class="btn btn-primary btn-sm btn-save" onclick="save_add_form(true)">copy settings to next sequence import</button>
      </div>
    </div>
  </div>
</div>
<!-- Map View Modal -->
<div class="modal fade mt-5 pt-5" id="sequence_detail_modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="add_form_modal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Sequence Detail</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="">

        </div>
          <div class="sequence-main float-left" id="sequence_detail_modal_box">
            <div class="sequence-captured-at text-info">
                <span>Captured:</span>
                <h6>

                </h6>
            </div>

            <div class="sequence-created-at">
                <span>Uploaded:</span>
                <p class="mb-1">
                </p>
            </div>

            <div class="sequence-camera-make" style="color: blueviolet;">
                <span>Camera Make:</span>
                <p class="mb-1">
                </p>
            </div>

            <div class="sequence-image-count" style="color: #a79f9f;">
                <span>Number of photos:</span>
                <p class="mb-1">
                </p>
            </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-cancel" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-warning btn-save" id="sequence_detail_modal_import">Import</button>
      </div>
    </div>
  </div>
</div>


{% endblock %}

{% block scripts %}
<script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    $('.paginator-btn').click(function() {
        let pageNum = $(this).data('page');
        let url = setParamInURL('page', pageNum);
        location.assign(url);
    });

    toastr.options = {
      "closeButton": false,
      "debug": false,
      "newestOnTop": false,
      "progressBar": false,
      "positionClass": "toast-top-right",
      "preventDuplicates": false,
      "onclick": null,
      "showDuration": "300",
      "hideDuration": "1000",
      "timeOut": "5000",
      "extendedTimeOut": "1000",
      "showEasing": "swing",
      "hideEasing": "linear",
      "showMethod": "fadeIn",
      "hideMethod": "fadeOut"
    };

    mapboxgl.accessToken = mapboxToken;
    var positions = [];
    var sequences = {};

    var all_transport_types = {};
    {% for type in all_transport_types %}
        all_transport_types["{{ type.id }}"] = "{{ type.name }}";
    {% endfor %}
    {% for sequence in sequences %}
        sequences['{{ sequence.seq_key }}'] = {
            'name': '',
            'description': '',
            'transport_type': 0,
            'tags': []
        };
        positions.push({{ sequence.geometry_coordinates_ary }});
    {% endfor %}

    var map_ary = [];
    function draw_map(index, data) {
        var obj = $('.min-map-box').eq(index);
        var obj_id = obj.attr('id');
        var sceneData = [];
        var item = {};
        var scene_positions = [];
        for (var j = 0; j < data.length; j++)
        {
            var lat = data[j][1];
            var lng = data[j][0];
            scene_positions.push([lng, lat]);
            item = {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "coordinates": [lng, lat],
                    "type": "Point"
                }
            };
            sceneData.push(item);
        }

        if (scene_positions.length > 0)
            var first_point = scene_positions[0];
        else
            var first_point = null;

        {#console.log('positions', sceneData)#}
        if (first_point != null) {
            var small_map = new mapboxgl.Map({
                container: obj_id, // container id
                style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
                center: first_point, // starting position
                zoom: 12, // starting zoom
            });
        }
        else {
            var small_map = new mapboxgl.Map({
                container: obj_id, // container id
                style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
                center: [-87.622088, 41.878781], // starting position
                zoom: 12, // starting zoom
            });
        }
        small_map.on('load', function() {
            small_map.addSource('points', {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': sceneData
                }
            });
            small_map.addLayer({
                'id': 'mapillary-images',
                'type': 'circle',
                'source': 'points',
                "paint": {
                    "circle-color": "#039825",
                    "circle-radius": 6
                }
            });
        });
        map_ary.push(small_map);
        small_map.resize();
    }

    for (i = 0; i < positions.length; i++)
    {
        draw_map(i, positions[i]);

    }

    let all_sequences = [];

    function draw_modal_map() {
        var target_map = modal_map;
        if (target_map.getLayer('modal-sequences')) target_map.removeLayer('modal-sequences');
        if (target_map.getLayer('modal-images')) target_map.removeLayer('modal-images');
        if (target_map.getSource('modal-images')) target_map.removeSource('modal-images');
        if (target_map.getSource('modal-sequences')) target_map.removeSource('modal-sequences');
        if (selected_sequence_id == '' || selected_sequence_id == null)
            return;

        var selected_sequences = null;
        var s_i = 0;
        for (s_i=0; s_i < all_sequences.length; s_i++) {
             if (selected_sequence_id == all_sequences[s_i]['properties']['key']) {
                 selected_sequences = [all_sequences[s_i]]
                 break;
             }
        }

        if (selected_sequences == null) {
            return;
        }

        let captured_at = selected_sequences[0]['properties']['captured_at'];
        let created_at = selected_sequences[0]['properties']['created_at'];
        let camera_make = selected_sequences[0]['properties']['camera_make'];
        let image_count = selected_sequences[0]['properties']['coordinateProperties']['image_keys'].length;

        $('.modal-sequence-detail .sequence-captured-at .text').text(captured_at);
        $('.modal-sequence-detail .sequence-created-at .text').text(created_at);
        $('.modal-sequence-detail .sequence-camera-make .text').text(camera_make);
        $('.modal-sequence-detail .sequence-image-count .text').text(image_count);

        target_map.addSource('modal-sequences', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': selected_sequences
            }
        });

        target_map.addLayer({
            "id": "modal-sequences",
            "type": "line",
            "source": 'modal-sequences',
            "layout": {
                "line-cap": "round",
                "line-join": "round"
            },
            "paint": {
                "line-opacity": 0.6,
                "line-color": "red",
                "line-width": 2
            }
        }, "waterway-label");
        let item, i=0, j=0, sequence, point, image_key, sequence_key;
        let images = [];
        for (i=0; i<selected_sequences.length; i++) {
            sequence = selected_sequences[i]
            for (j=0; j<sequence.geometry.coordinates.length; j++) {
                point = sequence.geometry.coordinates[j];
                image_key = sequence.properties.coordinateProperties.image_keys[j];
                sequence_key = sequence.properties.key;
                item = {
                    "type": "Feature",
                    "properties": {
                        'image_key': image_key,
                        'sequence_key': sequence_key,
                    },
                    "geometry": {
                        "coordinates": point,
                        "type": "Point"
                    }
                };
                images.push(item);
            }
        }

        target_map.addSource('modal-images', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': images
            }
        });

        target_map.addLayer({
            "id": "modal-images",
            "type": "circle",
            "source": 'modal-images',
            "paint": {
                "circle-color": "red",
                "circle-radius": 6
            }
        }, "waterway-label");

        target_map.flyTo({ center: selected_sequences[0]['geometry']['coordinates'][0], zoom: 14});
    }

    var selected_sequence_id = '';

    function show_add_modal(id) {

        if (checkLimit() <= 0) {
            return;
        }
        selected_sequence_id = id;
        var modal_form = $('#add_form_modal .modal-body');
        $('.tagsinput .tag').each(function (index) {
            $(this).remove();
        });
        modal_form.find('input[name="name"]').val('');
        modal_form.find('textarea[name="description"]').val('');
        modal_form.find('select[name="transport_type"]').val('');
        modal_form.find('.filter-option-inner-inner').text('---------');
        modal_form.find('input[name="tag"]').val('');

        $('#add_form_modal').modal('show');
        draw_modal_map();
    }

    function reset_added_form(id) {
        selected_sequence_id = id;
        sequences[selected_sequence_id]['name'] = '';
        sequences[selected_sequence_id]['description'] = '';
        sequences[selected_sequence_id]['transport_type'] = 0;
        sequences[selected_sequence_id]['tags'] = [];

        var added_form = $('#sequence_' + selected_sequence_id).find('.added-form');
        var transport_btn = $('#sequence_' + selected_sequence_id).find('.transport-btn');

        added_form.addClass('d-none');
        transport_btn.removeClass('d-none');
    }

    function save_add_form(next = false) {
        if (checkLimit() <= 0)
        {
            $('#add_form_modal').modal('hide');
            return;
        }

        if (!$('#add_form').isValid())
            return;

        let modal_form = $('#add_form_modal .modal-body');
        let name = modal_form.find('input[name="name"]').val();
        let description = modal_form.find('textarea[name="description"]').val();
        let transport_type = modal_form.find('select[name="transport_type"]').val();
        let tags = modal_form.find('input[name="tag"]').val();
        /*
        sequences[selected_sequence_id]['name'] = name;
        sequences[selected_sequence_id]['description'] = description;
        sequences[selected_sequence_id]['transport_type'] = transport_type;
        sequences[selected_sequence_id]['tags'] = tags;
        */
        let url = "{% url 'sequence.ajax_import' seq_key='seq_key' %}";
        url = url.replace('seq_key', selected_sequence_id)
        let next_sequence_id = getNextSequenceId(selected_sequence_id);
        selected_sequence_id = next_sequence_id;
        {#console.log('next: ', next_sequence_id)#}
        $.ajax({
            url: url,
            type: 'POST',
            data: $('#add_form').serialize(),
            dataType: 'json',
            success: function (data) {
                if (data.status == 'failed')
                    toastr.error(data.message);
                else {
                    toastr.success(data.message);
                    if ($('#sequence_' + selected_sequence_id).length > 0) {
                        let added_form = $('#sequence_' + selected_sequence_id).find('.added-form');
                        let transport_btn = $('#sequence_' + selected_sequence_id).find('.transport-btn');
                        let action = $('#sequence_' + selected_sequence_id).find('.actions').find('a');
                        let url = action.attr('href');
                        url = url.replace('unique_id', data.unique_id);
                        action.attr('href', url)
                        added_form.removeClass('d-none');
                        transport_btn.addClass('d-none');
                        added_form.find('.sequence-name .contents').text(name);
                        added_form.find('.sequence-description .contents').text(description);
                        added_form.find('.sequence-transport-type .contents').text(all_transport_types[transport_type]);
                        let tag_html = '';
                        let tag_ary = tags.split(',');
                        for (let i = 0; i < tag_ary.length; i++) {
                            tag_html += '<span class="tag">' + tag_ary[i] + '</span>';
                        }
                        added_form.find('.sequence-tag .contents').html(tag_html);
                    }

                    if (!next)
                        $('#add_form_modal').modal('hide');
                    else
                    {
                        if (next_sequence_id == '')
                        {
                            toastr.info("Next sequence key doesn't exist.");
                            $('#add_form_modal').modal('hide');
                        }
                        else
                        {
                            selected_sequence_id = next_sequence_id;
                            draw_modal_map();
                        }
                    }


                    /* Map view reload */
                    $.ajax({
                        url: "{% url 'sequence.ajax_get_import_sequences' %}",
                        type: 'POST',
                        data: {},
                        dataType: 'json',
                        success: function (data) {
                            if (data.status == 'failed')
                                toastr.error(data.message);
                            else {
                                let sequences = data.sequences;
                                drawMapWithSequences(sequences);
                            }
                        }
                    });
                }
            }
        });
    }

    function checkLimit() {
        let sequence_limit_count = 0;
        $.ajax({
            url: "{% url 'sequence.ajax_check_import_limit' %}",
            type: 'GET',
            data: {},
            dataType: 'json',
            async: false,
            success: function (data) {
                if (data.status == 'failed')
                    toastr.error(data.message);
                else {
                    sequence_limit_count = data.sequence_limit_count
                    if (sequence_limit_count <= 0)
                    {
                        Swal.fire({
                            title: 'I need your support...',
                            html: 'The number of sequences you can import per day is {{ request.user.get_sequence_limit }}. <a target="_blank" href="https://www.patreon.com/trekview">Please click here to support the project (from £5/mo) and you will be able to upload more sequences to the platform each day</a>.',
                            showCancelButton: false,
                            confirmButtonText: 'I do not want to support the project'
                        })
                    }
                }
            }
        });

        return sequence_limit_count;
    }

    function getNextSequenceId(sequence_id) {
        let next_sequence_id = '';
        $.ajax({
            url: "{% url 'sequence.ajax_get_import_next_sequence_id' %}",
            type: 'GET',
            data: {'sequence_key': sequence_id},
            dataType: 'json',
            async: false,
            success: function (data) {
                if (data.status == 'failed')
                    toastr.error(data.message);
                else {
                    next_sequence_id = data.next_sequence_key;
                    console.log('next_sequence_id', next_sequence_id)
                }
            }
        });
        return next_sequence_id;
    }

    function submit_form_data(next) {
        if (next)
            location.reload();
    }

    var page = 1;

    const map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
        center: [-74.5, 40], // starting position
        zoom: 1 // starting zoom
    });

    const modal_map = new mapboxgl.Map({
        container: 'modal_map', // container id
        style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
        center: [-74.5, 40], // starting position
        zoom: 1 // starting zoom
    });

    modal_map.resize();

    map.addControl(
        new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            localGeocoder: coordinatesGeocoder,
            zoom: 1,
            placeholder: '',
            mapboxgl: mapboxgl
        }), 'top-left'
    );

    // Create a popup, but don't add it to the map yet.
    const popup = new mapboxgl.Popup({
        closeButton: false,
        closeOnClick: false
    });


    function get_sequences(modal=false) {
        $.ajax({
            url: "{% url 'sequence.ajax_get_import_sequences' %}",
            type: 'POST',
            data: {},
            dataType: 'json',
            success: function (data) {
                if (data.status == 'failed')
                    toastr.error(data.message);
                else {
                    let sequences = data.sequences;
                    let target_map = map;
                    if (modal) {

                    }
                    {#console.log(sequences)#}
                    //map.on('load', function() {
                        console.log('map load');
                        console.log(sequences);
                        all_sequences = sequences;
                        drawMapWithSequences(sequences);
                        drawMapWithSequences(sequences, true);
                        actionMap()
                        actionMap(true)
                    //});
                }
            }
        })
    }

    $('#sequence_detail_modal_import').click(function () {
        let sequence_key = $(this).data('sequence_key');
        show_add_modal(sequence_key);
        $('#sequence_detail_modal').modal('hide');
    });

    function drawMapWithSequences(sequences, modal=false) {

        if (modal) {
            var target_map = modal_map;
        }
        else {
            var target_map = map;
        }
        target_map.on('load', () => {
            if (target_map.getLayer('mtp-sequences')) target_map.removeLayer('mtp-sequences');
            if (target_map.getLayer('mtp-images')) target_map.removeLayer('mtp-images');
            if (target_map.getSource('mtp-images')) target_map.removeSource('mtp-images');
            if (target_map.getSource('mtp-sequences')) target_map.removeSource('mtp-sequences');
            target_map.addSource('mtp-sequences', {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': sequences
                }
            });

            target_map.addLayer({
                "id": "mtp-sequences",
                "type": "line",
                "source": 'mtp-sequences',
                "layout": {
                    "line-cap": "round",
                    "line-join": "round"
                },
                "paint": {
                    "line-opacity": 0.6,
                    "line-color": "#7880bd",
                    "line-width": 2
                }
            }, "waterway-label");
            let item, i=0, j=0, sequence, point, image_key, sequence_key, camera_make, captured_at, uploaded_at, photo_count;
            let images = [];
            for (i=0; i<sequences.length; i++) {
                sequence = sequences[i]
                for (j=0; j<sequence.geometry.coordinates.length; j++) {
                    point = sequence.geometry.coordinates[j];
                    image_key = sequence.properties.coordinateProperties.image_keys[j];
                    sequence_key = sequence.properties.key;
                    camera_make = sequence.properties.camera_make;
                    uploaded_at = sequence.properties.captured_at;
                    captured_at = sequence.properties.captured_at;
                    photo_count = sequence.geometry.coordinates.length;
                    if (photo_count == 2 && sequence.geometry.coordinates[0] == sequence.geometry.coordinates[1])
                        photo_count = 1
                    item = {
                        "type": "Feature",
                        "properties": {
                            'image_key': image_key,
                            'sequence_key': sequence_key,
                            'camera_make': camera_make,
                            'uploaded_at': uploaded_at,
                            'captured_at': captured_at,
                            'photo_count': photo_count
                        },
                        "geometry": {
                            "coordinates": point,
                            "type": "Point"
                        }
                    };
                    images.push(item);
                }
            }

            target_map.addSource('mtp-images', {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': images
                }
            });

            target_map.addLayer({
                "id": "mtp-images",
                "type": "circle",
                "source": 'mtp-images',
                "paint": {
                    "circle-color": "#7880bd",
                    "circle-radius": 6
                }
            }, "waterway-label");
            target_map.resize();
        })

    }

    function actionMap(modal=false) {
        let target_map = map;
        if (modal) target_map = modal_map;
        target_map.on('mouseenter', 'mtp-images', function(e) {
          // Change the cursor style as a UI indicator.
          target_map.getCanvas().style.cursor = 'pointer';
            console.log(e.features[0])
            const coordinates = e.features[0].geometry.coordinates.slice();
            const key = e.features[0].properties.image_key;
            const url = "https://images.mapillary.com/" + key + "/thumb-320.jpg";

            // Ensure that if the map is zoomed out such that multiple
          // copies of the feature are visible, the popup appears
          // over the copy being pointed to.
          while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
            coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
          }

          // Populate the popup and set its coordinates
          // based on the feature found.
          popup.setLngLat(coordinates)
          .setHTML('<img src="' + url + '" width="160"  alt=""/>')
          .addTo(target_map);
        });

        target_map.on('click', 'mtp-images', function (e) {
            let properties = e.features[0].properties;
            let sequence_key = properties['sequence_key'];
            show_add_modal(sequence_key);
            /*
            $('#sequence_detail_modal_import').data('sequence_key', properties['sequence_key']);
            let $sequence_detail_modal_box = $('#sequence_detail_modal_box');
            $sequence_detail_modal_box.find('.sequence-captured-at h6').text(properties['captured_at']);
            $sequence_detail_modal_box.find('.sequence-created-at p').text(properties['uploaded_at']);
            $sequence_detail_modal_box.find('.sequence-camera-make p').text(properties['camera_make']);
            $sequence_detail_modal_box.find('.sequence-image-count p').text(properties['photo_count']);

             */
        });

        // Change it back to a pointer when it leaves.
        target_map.on('mouseleave', 'mtp-images', function () {
            map.getCanvas().style.cursor = '';
            popup.remove();
        });
    }

    get_sequences();

    $('#switch-list-viewer').change(function () {
        let url;
        if ($(this).prop('checked')) {
            $('#list-view').addClass('d-none');
            $('#map').removeClass('d-none');
            url = setParamInURL('view_type', 'map-view');
        }
        else {
            $('#list-view').removeClass('d-none');
            $('#map').addClass('d-none');
            url = setParamInURL('view_type', 'list-view');
        }
        history.pushState({
            id: 'Image Leaderboard List'
        }, "{{ pageTitle }}", url);
        map.resize();
    })

</script>
{% endblock %}