{% extends 'layouts/base.html' %}
{% load static %}
{% block app_sequence %}active{% endblock %}
{% block app_style %}<link rel="stylesheet" href="{% static 'css/sequence_style.css' %}">{% endblock %}
{% block content %}

<div class="main-body">
    <div class="left-side d-flex flex-column justify-content-between">
        <div>
            <div class="p-3">
                <div class="pt-3 mb-3">
                    <h3>
                        Sequences
                    </h3>
                </div>

                <p>
                    {{ pageDescription }}
                </p>
            </div>
            {% if messages %}
                {% for message in messages %}
                <div class="alert m-3 alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}

            <div class="w-100 d-flex justify-content-end mt-3 mb-3 pr-3">
                <a class="btn btn-outline-primary" href="{% url 'sequence.import_sequence' %}">
                    Import from Mapillary
                </a>
            </div>

            <div class="ml-3 mb-2 mr-3">
                <h4>Filter Sequence</h4>
            </div>

            {% if user.is_authenticated %}
                <ul class="nav nav-tabs text-center border-bottom-0 " id="myTab" role="tablist">
                    <li class="nav-item" style="width: 30%;">
                        <a class="nav-link {% if pageName == 'Sequences' %}active{% endif %}" href="{% url 'sequence.index' %}">All</a>
                    </li>
                    <li class="nav-item" style="width: 50%">
                        <a class="nav-link {% if pageName == 'My Sequences' %}active{% endif %}" href="{% url 'sequence.my_sequence_list' %}">My Sequences</a>
                    </li>
                </ul>
            {% endif %}
            <div class="p-3" style="border-top: 1px solid #dee2e6;">
                <div class="search-form">
                    <form method="GET" class="post-form" id="search_form">
                        <input type="number" class="d-none" name="page" value="{{ page }}">
                        {{ form.media }}
                        {{ form.as_p }}
                        <div class="form-group text-right mt-3">
                            <button type="submit" class="save btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'components/copyrite.html' %}
    </div>
    <div class="right-board bg-light">
        <div class="main-list-board mt-4 mb-2 ml-auto mr-auto">
            <div class="paginator">
                {% if sequences.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if sequences.number != 1 %}
                            <li class="page-item">
                                <a class="btn paginator-btn page-link" data-page='1'>&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="btn page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in sequences.paginator.pages %}
                            {% if sequences.number == i %}
                                <li class="active page-item"><a class="btn paginator-btn page-link bg-info" data-page='{{ i }}'>{{ i }}</a></li>
                            {% else %}
                                <li><a class="btn paginator-btn page-link" data-page='{{ i }}'>{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if sequences.number != sequences.paginator.num_pages %}
                            <li class="page-item"><a class="btn paginator-btn page-link" data-page='{{ sequences.paginator.num_pages }}'>&raquo;</a></li>
                        {% else %}
                            <li class="disabled page-item"><a class="btn page-link disabled" href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="item-list">
                {% if sequences.count > 0 %}
                    {% for sequence in sequences %}
                        <div class="card sequence p-3 m-3 d-flex flex-row align-items-center" id="sequence_{{ sequence.unique_id }}" data-sequence-id="{{ sequence.unique_id }}" onclick="getSequenceDetail('{{ sequence.unique_id }}')">
                            <div class="min-map-box" id="map-{{ sequence.unique_id }}">
                            </div>
                            <div class="cover-image-box ml-3 mr-3" style="width: 180px;">
                                {% if sequence.getCoverImage is None %}
                                    <img class="w-100" src="{% static 'images/global/empty-1.png' %}">
                                {% else %}
                                    <img class="w-100" src="https://images.mapillary.com/{{ sequence.getCoverImage }}/thumb-320.jpg">
                                {% endif %}
                            </div>
                            <div class="item-detail-box pl-3 pr-3">
                                <div class="item-main w-100 float-left">
                                    <div class="item-title text-info d-flex flex-row justify-content-between">
                                        <a href="{% url 'sequence.sequence_detail' unique_id=sequence.unique_id %}">
                                            <h6>{{ sequence.name }}</h6>
                                        </a>
                                    </div>

                                    <div class="item-description">
                                        <p class="mb-1">
                                            {{ sequence.getShortDescription }}
                                        </p>
                                    </div>

                                    <div class="w-100 d-flex flex-row align-items-end">
                                        <p class="mb-1 mr-3 item-transport-type text-center">
                                            <i class=transport-type-icon fas fa-{{ sequence.transport_type.parent.icon.font_awesome }}"></i>
                                            <br>
                                            {{ sequence.transport_type.parent }}
                                        </p>
                                        <p class="mb-1 mr-3 item-transport-type text-center">
                                            <i class="transport-type-icon fas fa-{{ sequence.transport_type.icon.font_awesome }}"></i>
                                            <br>
                                            {{ sequence.transport_type.name }}
                                        </p>
                                        <p class="mb-1 mr-3 item-image-count">
                                            {{ sequence.getImageCount }} Panos
                                        </p>
                                        <p class="mb-1 mr-3 item-distance">
                                            {{ sequence.getDistance }} Km
                                        </p>
                                        <p class="mb-1 mr-3 item-tour-count">
                                            {{ sequence.tour_count }} tours
                                        </p>
                                    </div>

                                    <div class="item-tag" style="min-height: 24px;">
                                        {% for tag_name in sequence.getTags %}
                                            <span class="tag pl-1 pr-1 mt-1 mb-1 mr-1">
                                                {{ tag_name }}
                                            </span>
                                        {% endfor %}

                                    </div>

                                    <div class="item-user">
                                        <span class="user">{{ sequence.user.username }}</span>
                                    </div>

                                </div>
                            </div>
                            <div class="text-center" style="width: 180px; font-size: 13px;">
                                <div class="d-flex flex-row align-items-center">
                                    <a target="_blank" href="https://www.openstreetmap.org/edit?editor=id#map=18/{{ sequence.getFirstPointLat }}/{{ sequence.getFirstPointLng }}&photo_overlay=mapillary">
                                        <img class="w-100" src="{% static "images/icon/90606167-57892980-e1f7-11ea-96e7-ed01ef35b2b7.png" %}">
                                    </a>
                                    <a target="_blank" href="https://www.mapillary.com/map/s/{{ sequence.seq_key }}">
                                        <img class="w-100" src="{% static "images/icon/mapillary_icon.png" %}">
                                    </a>
                                </div>

                                <p class="mt-3">{{ sequence.captured_at }}</p>
                                <p>{{ sequence.created_at }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="no-results d-flex justify-content-center align-items-center">
                        <h5 class="text-info">No results match your criteria.</h5>
                    </div>
                {% endif %}
            </div>
            <div class="paginator">
                {% if sequences.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if sequences.number != 1 %}
                            <li class="page-item">
                                <a class="btn paginator-btn page-link" data-page='1'>&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="btn page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in sequences.paginator.pages %}
                            {% if sequences.number == i %}
                                <li class="active page-item"><a class="btn paginator-btn page-link bg-info" data-page='{{ i }}'>{{ i }}</a></li>
                            {% else %}
                                <li><a class="btn paginator-btn page-link" data-page='{{ i }}'>{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if sequences.number != sequences.paginator.num_pages %}
                            <li class="page-item"><a class="btn paginator-btn page-link" data-page='{{ sequences.paginator.num_pages }}'>&raquo;</a></li>
                        {% else %}
                            <li class="disabled page-item"><a class="btn page-link disabled" href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
    {% if pageName == 'my-sequence-list' %}active{% endif %}
<script>
    $('.paginator-btn').click(function() {
        var pageNum = $(this).data('page');
        $('#search_form').find('input[name="page"]').val(pageNum);
        {% if pageName == 'sequence-list' %}
            var url = "{% url 'sequence.sequence_list' %}?" + $('#search_form').serialize()
        {% else %}
            var url = "{% url 'sequence.my_sequence_list' %}?" + $('#search_form').serialize()
        {% endif %}
        location.assign(url);
    });
    mapboxgl.accessToken = mapboxToken;
    var positions = [];
    {% for sequence in sequences %}
        positions.push({{ sequence.geometry_coordinates_ary }});
    {% endfor %}

    console.log(positions);
    function draw_map(data) {
        var obj = $('.min-map-box').eq(i);
        var obj_id = obj.attr('id');
        var sceneData = [];
        var item = {};
        var scene_positions = [];
        for (var j = 0; j < data.length; j++)
        {
            var lat = data[j][1];
            var lng = data[j][0];
            scene_positions.push([lng, lat]);
            item = {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "coordinates": [lng, lat],
                    "type": "Point"
                }
            };
            sceneData.push(item);
        }

        if (scene_positions.length > 0)
            var first_point = scene_positions[0];
        else
            var first_point = null;

        console.log('positions', sceneData)
        if (first_point != null) {
            var map = new mapboxgl.Map({
                container: obj_id, // container id
                style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
                center: first_point, // starting position
                zoom: 12, // starting zoom
                attributionControl: false
            });
        }
        else {
            var map = new mapboxgl.Map({
                container: obj_id, // container id
                style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
                center: [-87.622088, 41.878781], // starting position
                zoom: 12, // starting zoom
                attributionControl: false
            });
        }
        map.on('load', function() {
            map.addSource('points', {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': sceneData
                }
            });
            map.addLayer({
                'id': 'mapillary-images',
                'type': 'circle',
                'source': 'points',
                "paint": {
                    "circle-color": "#039825",
                    "circle-radius": 6
                }
            });
        });
    }

    for (i = 0; i < positions.length; i++)
    {
        draw_map(positions[i])
    }

</script>
{% endblock %}