<meta name="description" content="Find or offer help on image collection projects to create fresh street level map data in locations where it's needed for Google Street View, Mapillary, and more..." />
<meta name="author" content="Trek View" />

<meta property="og:title" content="Map the Paths/{{ pageTitle }}" />
<meta property="og:description" content="{{ pageDescription }}" />
<meta property="og:locale" content="en_US" />
<meta property="og:url" content="https://www.mapthepaths.com/" />
<meta property="og:site_name" content="Map the Paths" />
<meta property="og:image" content="https://www.mapthepaths.com/static/images/meta/trek-view-360-degree-tour.jpg" />
<meta property="fb:app_id" content="314866179884216"/>

<meta name="twitter:card" content="summary" />
<meta property="twitter:title" content="Map the Paths/{{ pageTitle }}" />
<meta name="twitter:description" content="{{ pageDescription }}" />
<meta name="twitter:site" content="@trekview" />
<meta name="twitter:creator" content="@trekview" />
<meta name="twitter:image" content="https://www.mapthepaths.com/static/images/meta/trek-view-360-degree-tour.jpg" />

<meta name="referrer" content="origin">