.full-screen {
    height: calc(100vh - 100px);
    width: calc(100vw - 400px);
    position: fixed;
    top: 100px;
    z-index: 0;
}

.board-w-400 {
    width: calc(100vw - 400px) !important;
}

.map-board {
    height: 100%;
    width: 100%;
}
.main-body .board {
    position: absolute;
    bottom: 0px;
    /*width: 100%;*/
}

.image-box {
    width: 100%;
    height: 100%;
}

.small-screen {
    height: 300px;
    margin-bottom: 55px;
}

.small-screen .display {
    border-radius: 8px;
    box-shadow: 3px 3px 0px 0px rgb(4 4 4 / 5%), 4px 7px 20px 0px rgb(0 0 0 / 86%);
}

.small {
    width: 400px;
    z-index: 200;
    position: relative;
    margin-left: 10px;
}


.scene-form input, .scene-form textarea, .scene-form select {
    background: #0a1b23;
    color: white;
    box-shadow: 3px 3px 0px 0px rgb(4 4 4 / 5%), 4px 7px 20px 0px rgb(0 0 0 / 86%);
    border: 0px;
}

.scene-form .form-control:focus {
    background: #030b0e;
    border: 0px;
    color: #9fcdff;
    box-shadow: 3px 3px 0px 0px rgb(4 4 4 / 5%), 4px 7px 20px 0px rgb(0 0 0 / 86%);
}

.scene-form .btn-primary {
    background-color: #08192b;
    border: 1px #08192b solid;
    box-shadow: 3px 3px 0px 0px rgb(4 4 4 / 5%), 4px 7px 20px 0px rgb(0 0 0 / 86%);
}

.scene-form .btn-primary:hover {
    border: 1px #beecff solid;
}

.minimize-button, .maximize-button {
    width: 30px;
    position: absolute;
    cursor: pointer;
    left: 10px;
    bottom: 10px;
    z-index: 300;
}

.maximize-button {
    height: 40px;
    width: 40px;
    padding: 6px 8px 0px 8px;
    border-radius: 50%;
    background: #0000008c;
}

.switch-full-screen {
    position: absolute;
    right: 0px;
    width: 47px;
    height: 47px;
    z-index: 300;
    cursor: pointer;
}

.switch-cover {
    position: absolute;
    right: -23px;
    top: -6px;
    width: 70px;
    height: 35px;
    z-index: 200;
    transform: rotate(45deg);
}

.poi-icon {
    position: absolute;
    left: 10px;
    width: 40px;
    z-index: 300;
    cursor: pointer;
    background: #00000082;
    top: 10px;
    border-radius: 7px;
}

.delete-icon {
    position: absolute;
    left: 10px;
    width: 40px;
    z-index: 300;
    cursor: pointer;
    background: #00000082;
    top: 60px;
    border-radius: 7px;
}

.delete-icon.disabled {
    cursor: unset !important;
    opacity: .4 !important;
}

.popup-tag {
    width: 100px;
    height: 100px;
    background: white;
    z-index: 300;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}

.TagVertex.selected {
    opacity: .9;
    border: 1px solid #e0e8e0;
    border-radius: 50%;
}

.TagVertex {
    opacity: .7;
}

.guidebook-box {
    max-width: 950px;
}

.guidebook-list .card.guidebook .map-box{
    /*width: 220px;*/
    height: 160px;
    background: #79aec8;
}


.guidebook-list .card.guidebook .cover-image-box > img {
    width: 100%;
    height: 100%;
}

.detail-box .guidebook-main {
    width: 100%;
}
.detail-box .guidebook-others {
    width: 110px;
    height: 160px;
}

.detail-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.detail-box .guidebook-others img {
    width: 45px;
}

.guidebook-tag .tag {
    border-radius: 3px;
    border: 1px solid lightsteelblue;
}

.left-side .check-like {
    cursor: pointer;
}

.left-side {
    /*background: aliceblue;*/
}

.left-side.poi-box {
    position: absolute;
}

.PrevOrNext {
    position: absolute;
    top: 30px;
}

.PrevOrNext .disabled {
    cursor: unset !important;
    opacity: .4 !important;
}

.PrevOrNext .SequenceControls, .PrevOrNext .SequenceStepper {
    cursor: unset;
}

.PrevOrNext .SequenceStepPrev, .PrevOrNext .SequenceStepNext, .PrevOrNext .SequencePlay {
    opacity: .8;
}

.PrevOrNext .SequenceStepPrev, .PrevOrNext .SequenceStepNext {
    cursor: pointer;
}

.PrevOrNext .SequenceStepper {
    height: 25px; width: auto;

}

.scene-title {
    color: #45b93d;
}

.list_container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: relative;
}
.list_item {
    /*height: 120px;*/
    width: 98%;
    position: absolute;
    z-index: 0;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 1%;
    left: 0px;
    margin: 0px;
    -webkit-user-select: none;
}
.list_item.selected {
    opacity: 0.8;
    z-index: 1000;
    cursor: pointer;
}
.list_item:active, .list_item:hover {
    cursor: pointer;
}

.scene-box {
    background: white;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.scene-box.selected {
    background: currentColor;
}

.left-side.poi-box {
    background: white;
}

.return-scene {
    font-size: 16px;
    top: 50px;
    color: white;
    width: 130px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    background: #7082dc;
    z-index: 300;
    position: absolute;
    left: calc(50% - 65px);
}

.guidebook-others {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mapboxgl-ctrl-geocoder {
    min-width: 240px;
    width: 240px;
    position: fixed;
    top: 100px;
    margin-left: 10px !important;
}

.right-board.w-100 .mapboxgl-ctrl-geocoder {
    margin-left: 50px !important;
}

.right-board.w-100 .username-search-bar {
    margin-left: 90px !important;
}

.username-search-bar {
    margin-left: 50px !important;
}

.username-search-bar.closed {
    margin-left: 260px !important;
}

.right-board.w-100 .username-search-bar.closed {
    margin-left: 300px !important;
}

.small-screen .mapboxgl-ctrl-top-left {
    margin-left: -10px !important;
}


.mapboxgl-ctrl-geocoder .mapboxgl-ctrl-geocoder--icon.mapboxgl-ctrl-geocoder--icon-search {
    cursor: pointer;
}

.mapboxgl-ctrl-geocoder.closed {
    min-width: 30px;
    width: 30px;
}

.mapboxgl-ctrl-geocoder--icon-search {
    position: absolute;
    top: 8px;
    left: 5px;
    width: 23px;
    height: 23px;
}

.mapboxgl-ctrl-geocoder--input {
    height: 36px;
}

.right-board .embed-code {
    font-size: 14px;
    top: 15px;
    color: white;
    border-radius: 4px;
    text-align: center;
    z-index: 200;
    position: absolute;
    right: 15px;
}

.right-board .embed-code button {
    font-size: 14px;
    color: white;
    padding: 3px;
    border-radius: 4px;
}

.small-screen .embed-code {
    padding-top: 0px;
    padding-bottom: 0px;
    top: 15px;
}

.small-screen .embed-code button {
    padding-top: 0px;
    padding-bottom: 0px;
}


@media only screen and (max-width: 600px) {
    .detail-box {
        flex-direction: column;
    }
    .detail-box .guidebook-others {
        flex-direction: row;
        width: 100%;
        height: auto;
    }
    .mapboxgl-ctrl-geocoder {
        top: 80px;
    }
}



