.mapboxgl-map {
    height: calc(100vh - 100px) !important;
}


@media only screen and (max-width: 600px) {
    .mapboxgl-map {
        height: calc(100vh - 80px) !important;
    }
}

a {
    text-underline: none;
}