body {
    overflow-x: hidden;
    overflow-y: auto;
}

.card.sequence .added-form > div > p:first-child {
    font-size: 13px;
}

.card.sequence .added-form > div{
    display: flex;
    flex-direction: row;
}

.card.sequence .added-form > div.actions {
    display: block;
}

.tag {
    border-radius: 3px;
    border: 1px solid lightsteelblue;
    margin: 1px;
    font-size: 13px;
    padding-left: 1px;
    padding-right: 1px;
}

.item-detail-box {
    /*width: calc(100% - 480px);*/
    /*height: 100%;*/
}

.item-detail label {
    font-size: 13px;
    color: #2196f3d4;
}

.item-detail p {
    margin-bottom: 4px;
}

.main-list-board .sequence-viewer {
    width: 100%;
    height: 600px;
    background: rgba(9, 45, 79, 0.71);
}

.image-table tr {
    height: 40px;
}

.image-table td {
    border-top: 1px solid gray;
}

.list_container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: relative;
}
.list_item {
    /*height: 120px;*/
    width: 98%;
    position: absolute;
    z-index: 0;
    cursor: pointer;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 1%;
    left: 0px;
    margin: 0px;
    -webkit-user-select: none;
}
.list_item.selected {
    opacity: 0.8;
    z-index: 1000;
    cursor: pointer;
}
.list_item:active, .list_item:hover {
    cursor: pointer;
}

.full-screen {
    height: calc(var(--vh, 1vh) * 100 - 100px);
    width: calc(var(--vh, 1vh) * 100 - 400px);
    position: fixed;
    top: 100px;
    z-index: 0;
}

.board-w-400 {
    width: calc(100vw - 400px) !important;
}

.map-board {
    height: 100%;
    width: 100%;
}
.main-body .board {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.image-box {
    width: 100%;
    height: 100%;
}

.small-screen {
    height: 300px;
    margin-bottom: 55px;
}

.small-screen .display {
    border-radius: 8px;
    box-shadow: 3px 3px 0px 0px rgb(4 4 4 / 5%), 4px 7px 20px 0px rgb(0 0 0 / 86%);
}

.small {
    width: 400px;
    z-index: 200;
    position: relative;
    margin-left: 10px;
}

.minimize-button, .maximize-button {
    width: 30px;
    position: absolute;
    cursor: pointer;
    left: 10px;
    bottom: 10px;
    z-index: 300;
}

.maximize-button {
    height: 40px;
    width: 40px;
    padding: 6px 8px 0px 8px;
    border-radius: 50%;
    background: #0000008c;
}

.switch-full-screen {
    position: absolute;
    right: 0px;
    width: 47px;
    height: 47px;
    z-index: 300;
    cursor: pointer;
}

.switch-cover {
    position: absolute;
    right: -23px;
    top: -6px;
    width: 70px;
    height: 35px;
    z-index: 200;
    transform: rotate(45deg);
}

/*.right-board .image-view-point {*/
/*    font-size: 14px;*/
/*    top: 15px;*/
/*    color: white;*/
/*    border-radius: 4px;*/
/*    text-align: center;*/
/*    background: #28a745 !important;*/
/*    z-index: 300;*/
/*    position: absolute;*/
/*    right: 15px;*/
/*    padding: 5px;*/
/*}*/

/*.right-board .btn-add-to-guidebook {*/
/*    font-size: 14px;*/
/*    top: 55px;*/
/*    color: white;*/
/*    border-radius: 4px;*/
/*    text-align: center;*/
/*    z-index: 300;*/
/*    position: absolute;*/
/*    right: 15px;*/
/*}*/

/*.right-board .embed-code {*/
/*    font-size: 14px;*/
/*    top: 95px;*/
/*    color: white;*/
/*    border-radius: 4px;*/
/*    text-align: center;*/
/*    z-index: 200;*/
/*    position: absolute;*/
/*    right: 15px;*/
/*}*/

.right-board .mapillary-right-actions{
    font-size: 14px;
    color: white;
    border-radius: 4px;
    text-align: center;
    z-index: 200;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 150px;
}


.right-board .btn-add-to-guidebook button, .right-board .btn-add-to-guidebook div, .right-board .mapillary-right-actions button {
    font-size: 14px;
    color: white;
    padding: 3px;
    border-radius: 4px;
}

.right-board .btn-add-to-guidebook div {
    z-index: 300;
}

.right-board .image-view-point i {
    font-size: 14px;
}

.right-board .btn-add-to-guidebook {
    font-size: 14px;
    top: 55px;
    color: white;
    border-radius: 4px;
    text-align: center;
    z-index: 300;
    /*position: absolute;*/
    right: 15px;
}

.right-board .btn-add-to-guidebook button, .right-board .btn-add-to-guidebook div {
    font-size: 14px;
    color: white;
    padding: 3px;
    border-radius: 4px;
}

.right-board .image-view-point i {
    font-size: 14px;
}

.right-board .image-view-point img {
    border-radius: 18px;
}



/*.small-screen .image-view-point {*/
/*    padding-top: 0px;*/
/*    padding-bottom: 0px;*/
/*}*/

/*.small-screen .btn-add-to-guidebook {*/
/*    padding-top: 0px;*/
/*    padding-bottom: 0px;*/
/*    top: 40px;*/
/*}*/

/*.small-screen .embed-code {*/
/*    padding-top: 0px;*/
/*    padding-bottom: 0px;*/
/*    top: 70px;*/
/*}*/

.mapillary-right-actions label.btn {
    padding-top: 2px;
    padding-bottom: 0px;
}

.mapillary-right-actions .toggle.btn {
    min-height: 30px;
    height: 30px;
}

.small-screen .mapillary-right-actions {
    display: none !important;
}

/*.small-screen .embed-code button {*/
/*    padding-top: 0px;*/
/*    padding-bottom: 0px;*/
/*}*/

/*.small-screen .btn-add-to-guidebook button, .right-board .btn-add-to-guidebook div {*/
/*    padding-top: 0px;*/
/*    padding-bottom: 0px;*/
/*}*/

.detection-tag {
    margin: 3px;
    white-space: nowrap;
    padding: 1px;
}

.switch-detection > div, .switch-gpx > div {
    width: 140px !important;
}

.switch-detection-auto > div, .switch-gpx > div {
    width: 90px !important;
}

.image-detection .detections > div:first-child {
    margin-top: 20px;

}

.image-detection .detection-tag {
    cursor: pointer;
}

.image-detection .detection-tag.selected {
    /*border-color: green !important;*/
}

.image-detection .detections > div.selected {
    background: #d6dad7;
}