{% extends 'layouts/base.html' %}
{% load static %}
{% block app_challenge %}active{% endblock %}
{% block app_style %}<link rel="stylesheet" href="{% static 'css/challenge_style.css' %}">{% endblock %}
{% block content %}

<div class="main-body">
    <div class="left-side d-flex flex-column justify-content-between">
        <div>
            <div class="challenge p-3">
                <div class="challenge-header pt-3 mb-3">
                    <h3>
                        Capture Challenge
                    </h3>
                </div>
                <div class="challenge-body">
                    <p>
                        {{ pageDescription }}
                    </p>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}
            <div class="w-100 d-flex justify-content-end mt-3 mb-3 pr-3">
                <a href="{% url 'challenge.challenge_create' %}" class="btn btn-outline-primary">Create Challenge</a>
            </div>
            <div class="ml-3 mb-2 mr-3">
                <h4>Filter Challenge</h4>
            </div>
            {% if user.is_authenticated %}
                <ul class="nav nav-tabs text-center border-bottom-0 " id="myTab" role="tablist">
                    <li class="nav-item" style="width: 30%;">
                        <a class="nav-link {% if pageName == 'Challenges' %}active{% endif %}" href="{% url 'challenge.challenge_list' %}">All</a>
                    </li>
                    <li class="nav-item" style="width: 50%;">
                        <a class="nav-link {% if pageName == 'My Challenges' %}active{% endif %}" href="{% url 'challenge.my_challenge_list' %}">My Challenges</a>
                    </li>
                </ul>
            {% endif %}

            <div class="p-3" style="border-top: 1px solid #dee2e6;">
                <div class="search-form">
                    <form method="GET" class="post-form" id="search_form">
                        <input type="number" class="d-none" name="page" value="{{ page }}">
                        {% load bootstrap4 %}
                        {% bootstrap_css %}
                        {{ form.media }}
                        {{ form.as_p }}
                        <div class="form-group text-right mt-3">
                            <button type="submit" class="save btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'components/copyrite.html' %}
    </div>
    <div class="right-board list bg-light">
        <div class="switch-list-viewer">
            <input class="" type="checkbox" {% if request.GET.view_type is not None and request.GET.view_type == 'map-view' %}checked{% endif %} id="switch-list-viewer" data-toggle="toggle" data-on="Map View" data-off="List View" data-onstyle="success" data-offstyle="primary">
        </div>
        <div id="list-view" class="{% if request.GET.view_type is not None and request.GET.view_type == 'map-view' %}d-none{% endif %} mt-4 mb-2 ml-auto mr-auto">
            <div class="paginator">
                {% if challenges.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if challenges.number != 1 %}
                            <li class="page-item">
                                <a class="btn paginator-btn page-link" data-page='1'>&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="btn page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in challenges.paginator.pages %}
                            {% if challenges.number == i %}
                                <li class="active page-item"><a class="btn paginator-btn page-link bg-info" data-page='{{ i }}'>{{ i }}</a></li>
                            {% else %}
                                <li><a class="btn paginator-btn page-link" data-page='{{ i }}'>{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if challenges.number != challenges.paginator.num_pages %}
                            <li class="page-item"><a class="btn paginator-btn page-link" data-page='{{ challenges.paginator.num_pages }}'>&raquo;</a></li>
                        {% else %}
                            <li class="disabled page-item"><a class="btn page-link disabled" href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="item-list">
                {% if challenges.count > 0 %}
                    {% for challenge in challenges %}
                        <div class="card challenge pl-3 pr-3 pt-2 pb-2 m-3" id="challenge_{{ challenge.unique_id }}" data-challenge-id="{{ challenge.unique_id }}">
                            <div class="row align-items-center">
                                <div class="col-sm-5 col-md-4 col-lg-3 pr-2 pl-2">
                                    <div class="w-100 min-map-box" id="map-{{ challenge.unique_id }}">
                                    </div>
                                </div>

                                <div class="col-sm-7 col-md-8 detail-box col-lg-9">
                                    <div class="row w-100">
                                        <div class="item-detail-box w-100 pl-3 pr-3">
                                            <div class="item-main w-100 float-left">
                                                <div class="item-title text-info d-flex flex-row justify-content-between">
                                                    <a href="{% url 'challenge.challenge_detail' unique_id=challenge.unique_id %}">
                                                        <h6>{{ challenge.name }}</h6>
                                                    </a>
                                                </div>

                                                <div class="item-description">
                                                    <p class="mb-1">
                                                        {{ challenge.get_short_description }}
                                                    </p>
                                                </div>

                                                <div class="item-camera-make">
                                                    <p class="mb-1">
                                                        {{ challenge.get_camera_make }}
                                                    </p>
                                                </div>

                                                <div class="w-100 d-flex " style="white-space: nowrap">
                                                    {% if challenge.get_transport_types_obj.count > 0 %}
                                                        {% for transport_type in challenge.get_transport_types_obj %}
                                                            <div class="d-flex flex-row">
                                                                <p class="mb-1 mr-1 item-transport-type text-center">
                                                                    <i class="transport-type-icon fas fa-{{ transport_type.parent.icon.font_awesome }}"></i>
                                                                    <br>
                                                                    [{{ transport_type.parent }}
                                                                </p>
                                                                <p class="mb-1 mr-1"><i class="transport-type-icon fas fa"></i><br>-</p>
                                                                <p class="mb-1 mr-1 item-transport-type text-center">
                                                                    <i class="transport-type-icon fas fa-{{ transport_type.icon.font_awesome }}"></i>
                                                                    <br>
                                                                    {{ transport_type.name }}]
                                                                </p>
                                                            </div>
                                                        {% endfor %}
                                                    {% endif %}
                                                </div>

                                                <div class="item-time">
                                                    <p class="mb-1">
                                                        {{ challenge.start_time.date }} ~ {{ challenge.end_time.date }}
                                                    </p>
                                                </div>

                                                <div class="challenge-geometry d-none">{{ challenge.geometry }}</div>

                                                <div class="item-created-at text-secondary d-flex flex-row justify-content-between">

                                                    <a href="{% url 'account.profile' username=challenge.user.username %}">
                                                        <span class="">
                                                            {{ challenge.user }}
                                                        </span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="no-results d-flex justify-content-center align-items-center">
                        <h5 class="text-info">No results match your criteria.</h5>
                    </div>
                {% endif %}
            </div>
            <div class="paginator">
                {% if challenges.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if challenges.number != 1 %}
                            <li class="page-item">
                                <a class="btn paginator-btn page-link" data-page='1'>&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="btn page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in challenges.paginator.pages %}
                            {% if challenges.number == i %}
                                <li class="active page-item"><a class="btn paginator-btn page-link bg-info" data-page='{{ i }}'>{{ i }}</a></li>
                            {% else %}
                                <li><a class="btn paginator-btn page-link" data-page='{{ i }}'>{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if challenges.number != challenges.paginator.num_pages %}
                            <li class="page-item"><a class="btn paginator-btn page-link" data-page='{{ challenges.paginator.num_pages }}'>&raquo;</a></li>
                        {% else %}
                            <li class="disabled page-item"><a class="btn page-link disabled" href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="{% if request.GET.view_type is None or request.GET.view_type != 'map-view' %}d-none{% endif %}" id="map">

        </div>
    </div>


    <!-- Modal -->
    <div class="challenge-detail modal fade" style="padding-top: 80px !important;" id="challengeDetailModal">
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>
    $('.paginator-btn').click(function() {
        var pageNum = $(this).data('page');
        $('#search_form').find('input[name="page"]').val(pageNum);
        {% if pageName == 'Challenges' %}
            var url = "{% url 'challenge.challenge_list' %}?" + $('#search_form').serialize()
        {% else %}
            var url = "{% url 'challenge.my_challenge_list' %}?" + $('#search_form').serialize()
        {% endif %}
        location.assign(url);
    });

    $('.paginator-btn').click(function() {
        let pageNum = $(this).data('page');
        let url = setParamInURL('page', pageNum);
        location.assign(url);
    });


    function goWithSearchParam(url) {
        location.assign(url + '?' + $('#search_form').serialize());
    }

    $('#headingOne').click(function () {
        if ($(this).hasClass('collapsed'))
        {
            $(this).find('.fa-chevron-down').addClass('d-none');
            $(this).find('.fa-chevron-up').removeClass('d-none');
        }
        else
        {
            $(this).find('.fa-chevron-down').removeClass('d-none');
            $(this).find('.fa-chevron-up').addClass('d-none');
        }
    });

    // TO MAKE THE MAP APPEAR YOU MUST
	// ADD YOUR ACCESS TOKEN FROM
	// https://account.mapbox.com
    mapboxgl.accessToken = mapboxToken;
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
        center: [-74.5, 40], // starting position
        zoom: 1 // starting zoom
    });

    map.addControl(
        new MapboxGeocoder({
            accessToken: mapboxgl.accessToken,
            localGeocoder: coordinatesGeocoder,
            zoom: 1,
            placeholder: '',
            mapboxgl: mapboxgl
        }), 'top-left'
    );

    var challengeGeometryElements = $('.challenge-geometry');
    var polygonData = [];
    var centerPointerData = [];

    var map_ary = [];
    for (i = 0; i < challengeGeometryElements.length; i++)
    {
        var item = challengeGeometryElements.eq(i);
        var geometryData = item.text();
        var geometryDataJson = JSON.parse(geometryData);
        geometryDataJson.forEach(function (item, index) {
            polygonData.push(item);

            var minX = 0;
            var maxX = 0;
            var minY = 0;
            var maxY = 0;
            var coorXSum = 0;
            var coorYSum = 0;
            var countSum = 0;

            var coordinates = item.geometry.coordinates;
            for (j = 0; j < coordinates[0].length; j++)
            {
                coorXSum += coordinates[0][j][0];
                coorYSum += coordinates[0][j][1];
                countSum++;
                if (coordinates[0][j][0] < minX)
                    minX = coordinates[0][j][0];
                if (coordinates[0][j][0] > maxX)
                    maxX = coordinates[0][j][0];
                if (coordinates[0][j][1] < minY)
                    minY = coordinates[0][j][1];
                if (coordinates[0][j][1] > maxY)
                    maxY = coordinates[0][j][1];
            }
            var centerItem = {
                "type": "Feature", 
                "properties": {"challenge_id": item.properties.challenge_id},
                "geometry": {
                    "coordinates": [coorXSum / countSum, coorYSum / countSum], 
                    "type": "Point"
                }
            };
            centerPointerData.push(centerItem);
        });
        draw_map(i, geometryDataJson)
    }

    map.on('load', function() {
        map.loadImage(
            'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
            function(error, image) {
                if (error) throw error;
                map.addImage('custom-marker', image);
                map.addSource('points', {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': centerPointerData
                    }
                });
                map.addLayer({
                    'id': 'points',
                    'type': 'symbol',
                    'source': 'points',
                    'maxzoom': 6,
                    'layout': {
                        'icon-image': 'custom-marker',
                        // get the title name from the source's "title" property
                        // 'text-field': ['get', 'title'],
                        'text-font': [
                            'Open Sans Semibold',
                            'Arial Unicode MS Bold'
                        ],
                        'text-offset': [0, 1.25],
                        'text-anchor': 'top'
                    }
                });
            }
        )
        map.addSource('states', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': polygonData
            }
        });
        map.addLayer({
            'id': 'states-layer',
            'type': 'fill',
            'source': 'states',
            'minzoom': 6,
            'layout': {},
            'paint': {
                'fill-color': 'rgba(200, 100, 240, 0.2)',
                'fill-outline-color': 'rgba(200, 100, 240, 0.8)'
            }
        });
        // When a click event occurs on a feature in the states layer, open a popup at the
        // location of the click, with description HTML from its properties.
        map.on('click', 'states-layer', function (e) {
            getChallengeDetail(e.features[0].properties.challenge_id);

        });

        // Change the cursor to a pointer when the mouse is over the states layer.
        map.on('mouseenter', 'states-layer', function () {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'states-layer', function () {
            map.getCanvas().style.cursor = '';
        });

        map.on('click', 'points', function (e) {
            getChallengeDetail(e.features[0].properties.challenge_id);

        });

        // Change the cursor to a pointer when the mouse is over the states layer.
        map.on('mouseenter', 'points', function () {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'points', function () {
            map.getCanvas().style.cursor = '';
        });
    });

    function getChallengeDetail(id) {
        var url = "{% url 'challenge.ajax_challenge_detail' unique_id='unique_id' %}";
        url = url.replace('unique_id', id);
        $.ajax({
            url: url,
            type: 'GET',
            data: {},
            dataType: 'json',
            success: function (data) {
                if (!data.challenge) {
                    alert(data.error_message);
                    return;
                }
                var challenge = data.challenge[0].fields;
                var geometryDataJson = JSON.parse(challenge.geometry);
                if (map.getLayer('selected-layer')) map.removeLayer('selected-layer');
                if (map.getSource('selected-source')) map.removeSource('selected-source');
                map.addSource('selected-source', {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': geometryDataJson
                    }
                });
                map.addLayer({
                    'id': 'selected-layer',
                    'type': 'fill',
                    'source': 'selected-source',
                    'layout': {},
                    'paint': {
                        'fill-color': 'rgba(100, 100, 240, 0.2)',
                        'fill-outline-color': 'rgba(200, 100, 240, 0.8)'
                    }
                });
                var zoom = challenge.zoom;
                var coorXSum = 0;
                var coorYSum = 0;
                var countSum = 0;
                var minX = 0;
                var maxX = 0;
                var minY = 0;
                var maxY = 0;
                for(j = 0; j < geometryDataJson.length; j++)
                {
                    var coordinates = geometryDataJson[j].geometry.coordinates;

                    for (i = 0; i < coordinates[0].length; i++)
                    {
                        coorXSum += coordinates[0][i][0];
                        coorYSum += coordinates[0][i][1];
                        countSum++;
                        if (coordinates[0][i][0] < minX)
                            minX = coordinates[0][i][0];
                        if (coordinates[0][i][0] > maxX)
                            maxX = coordinates[0][i][0];
                        if (coordinates[0][i][1] < minY)
                            minY = coordinates[0][i][0];
                        if (coordinates[0][i][1] > maxY)
                            maxY = coordinates[0][i][1];
                    }
                }

                var coorX = coorXSum / countSum;
                var coorY = coorYSum / countSum;
                map.flyTo({ center: [coorX, coorY], zoom: zoom});

                $('#challengeDetailModal').html(data.challenge_html_detail)
                $('#delete_form').html(getCSRFTokenValue())
                $('#challengeDetailModal').modal({
                    'backdrop': false,
                    'show': true,
                });
            }
        });
    }

    $('#switch-list-viewer').change(function () {
        let url;
        if ($(this).prop('checked')) {
            $('#list-view').addClass('d-none');
            $('#map').removeClass('d-none');
            url = setParamInURL('view_type', 'map-view');
        }
        else {
            $('#list-view').removeClass('d-none');
            $('#map').addClass('d-none');
            url = setParamInURL('view_type', 'list-view');
        }
        history.pushState({
            id: 'Image Leaderboard List'
        }, "{{ pageTitle }}", url);
        map.resize();
    })



    function draw_map(ii, geometryDataJson) {
        var polygon_data = [];
        var centerPointer_data = [];
        var centerPoint = [0, 0];
        geometryDataJson.forEach(function (item, index) {
            polygon_data.push(item);
            var minX = 0;
            var maxX = 0;
            var minY = 0;
            var maxY = 0;
            var coorXSum = 0;
            var coorYSum = 0;
            var countSum = 0;

            var coordinates = item.geometry.coordinates;
            for (j = 0; j < coordinates[0].length; j++)
            {
                coorXSum += coordinates[0][j][0];
                coorYSum += coordinates[0][j][1];
                countSum++;
                if (coordinates[0][j][0] < minX)
                    minX = coordinates[0][j][0];
                if (coordinates[0][j][0] > maxX)
                    maxX = coordinates[0][j][0];
                if (coordinates[0][j][1] < minY)
                    minY = coordinates[0][j][1];
                if (coordinates[0][j][1] > maxY)
                    maxY = coordinates[0][j][1];
            }
            var centerItem = {
                "type": "Feature",
                "properties": {"challenge_id": item.properties.challenge_id},
                "geometry": {
                    "coordinates": [coorXSum / countSum, coorYSum / countSum],
                    "type": "Point"
                }
            };
            centerPoint[0] += coorXSum / countSum;
            centerPoint[1] += coorYSum / countSum;
            centerPointer_data.push(centerItem);
        });

        var obj = $('.min-map-box').eq(ii);
        var obj_id = obj.attr('id');

        if (centerPointer_data.length > 0) {
            centerPoint[0] = centerPoint[0] / centerPointer_data.length;
            centerPoint[1] = centerPoint[1] / centerPointer_data.length;
        }

        var map = new mapboxgl.Map({
            container: obj_id, // container id
            style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
            center: centerPoint, // starting position
            zoom: 3, // starting zoom
        });

        map.on('load', function() {
            map.loadImage(
                'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
                function(error, image) {
                    if (error) throw error;
                    map.addImage('custom-marker', image);
                    map.addSource('points', {
                        'type': 'geojson',
                        'data': {
                            'type': 'FeatureCollection',
                            'features': centerPointer_data
                        }
                    });
                    map.addLayer({
                        'id': 'points',
                        'type': 'symbol',
                        'source': 'points',
                        'maxzoom': 6,
                        'layout': {
                            'icon-image': 'custom-marker',
                            // get the title name from the source's "title" property
                            // 'text-field': ['get', 'title'],
                            'text-font': [
                                'Open Sans Semibold',
                                'Arial Unicode MS Bold'
                            ],
                            'text-offset': [0, 1.25],
                            'text-anchor': 'top'
                        }
                    });
                }
            )
            map.addSource('states', {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': polygon_data
                }
            });
            map.addLayer({
                'id': 'states-layer',
                'type': 'fill',
                'source': 'states',
                'minzoom': 6,
                'layout': {},
                'paint': {
                    'fill-color': 'rgba(200, 100, 240, 0.2)',
                    'fill-outline-color': 'rgba(200, 100, 240, 0.8)'
                }
            });
        });
        map_ary.push(map);
        window.addEventListener('resize', function() { map_ary[map_ary.length - 1].resize(); });
    }

</script>
{% endblock %}