<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="challengeDetailModalTitle">{{ challenge.name }}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="item-description">
                <p class="mb-1">
                    {{ challenge.description }}
                </p>
            </div>

            <div class="item-camera-make">
                <p class="mb-1">
                    {{ challenge.getCameraMake }}
                </p>
            </div>

            <div class="w-100 d-flex " style="white-space: nowrap">
                {% if challenge.getTrasTypesObj.count > 0 %}
                    {% for transport_type in challenge.getTrasTypesObj %}
                        <div class="d-flex flex-row">
                            <p class="mb-1 mr-1 item-transport-type text-center">
                                <i class="transport-type-icon fas fa-{{ transport_type.parent.icon.font_awesome }}"></i>
                                <br>
                                [{{ transport_type.parent }}
                            </p>
                            <p class="mb-1 mr-1"><i class="transport-type-icon fas fa"></i><br>-</p>
                            <p class="mb-1 mr-1 item-transport-type text-center">
                                <i class="transport-type-icon fas fa-{{ transport_type.icon.font_awesome }}"></i>
                                <br>
                                {{ transport_type.name }}]
                            </p>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>

            <div class="item-time">
                <p class="mb-1">
                    {{ challenge.start_time.date }} ~ {{ challenge.end_time.date }}
                </p>
            </div>

            <div class="challenge-created-at text-secondary">
                <h6>
                    {{ challenge.created_at }}
                </h6>
            </div>
        </div>
        {% if is_mine %}
            <div class="modal-footer d-flex flex-row justify-content-end">
                <a type="button" href="javascript:goWithSearchParam('{% url 'challenge.challenge_leaderboard' unique_id=challenge.unique_id %}')" id="show_leaderboad" class="btn btn-success text-light" >Go to Leaderboard</a>
                <a type="button" href="{% url 'challenge.my_challenge_edit' unique_id=challenge.unique_id %}" id="edit_button" class="btn btn-primary text-light" >Edit</a>
                <button type="button" id="delete_button" class="btn btn-danger text-light" >Delete</button>
                <form method="POST" action="{% url 'challenge.my_challenge_delete' unique_id=challenge.unique_id %}" id="delete_form">
                    {% csrf_token %}
                </form>
            </div>
        {% else %}
            <div class="modal-footer d-flex flex-row justify-content-end">
                <a type="button" href="javascript:goWithSearchParam('{% url 'challenge.challenge_leaderboard' unique_id=challenge.unique_id %}')" id="show_leaderboad" class="btn btn-success text-light" >Go to Leaderboard</a>
            </div>
        {% endif %}  
    </div>
</div>

<script>
    $('#delete_button').click(function() {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $('#delete_form').submit()
            }
        })
    })
</script>