{% extends 'layouts/base.html' %}
{% load static %}
{% block app_photographer %}active{% endblock %}
{% block app_style %}<link rel="stylesheet" href="{% static 'css/photographer_style.css' %}">{% endblock %}
{% block content %}

<div class="main-body">
    <div class="left-side d-flex flex-column justify-content-between">
        <div>
            <div class="p-4">
                <h4 class="text-center text-primary">Edit Photographer</h4>

                <p>Draw the areas you need to capture street-level imagery of:</p>

                <div class="mapbox-actions d-flex justify-content-between mb-3">
                    <div class="col-6 pl-0 pr-1">
                        <button class="btn btn-primary w-100" id="draw_polygon">Draw Polygon</button>
                    </div>

                    <div class="col-6 pr-0 pl-1">
                        <button class="btn btn-danger w-100" id="delete_polygon">Delete Polygon</button>
                    </div>
                </div>

                <form method="POST" class="post-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group text-right">
                        <button type="submit" class="save btn btn-primary save-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
        {% include 'components/copyrite.html' %}
    </div>
    <div class="right-fixed-board bg-light">
        <div id="map"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
  <script>
    var geometryData = $('#id_geometry').text();
    console.log(geometryData);
    var geometryDataJson = JSON.parse(geometryData);
    console.log(geometryDataJson);

    // TO MAKE THE MAP APPEAR YOU MUST
	// ADD YOUR ACCESS TOKEN FROM
	// https://account.mapbox.com
	mapboxgl.accessToken = mapboxToken;
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
        center: [-74.5, 40], // starting position
        zoom: 1 // starting zoom
    });

    var photographerGeometryElements = $('.photographer-geometry');
    var polygonData = [];
    var centerPointerData = [];
    for (i = 0; i < photographerGeometryElements.length; i++)
    {
        var item = photographerGeometryElements.eq(i);
        var geometryData = item.text();
        var geometryDataJson = JSON.parse(geometryData);
        geometryDataJson.forEach(function (item, index) {
            polygonData.push(item);

            var minX = 0;
            var maxX = 0;
            var minY = 0;
            var maxY = 0;
            var coorXSum = 0;
            var coorYSum = 0;
            var countSum = 0;

            var coordinates = item.geometry.coordinates;
            for (j = 0; j < coordinates[0].length; j++)
            {
                coorXSum += coordinates[0][j][0];
                coorYSum += coordinates[0][j][1];
                countSum++;
                if (coordinates[0][j][0] < minX)
                    minX = coordinates[0][j][0];
                if (coordinates[0][j][0] > maxX)
                    maxX = coordinates[0][j][0];
                if (coordinates[0][j][1] < minY)
                    minY = coordinates[0][j][1];
                if (coordinates[0][j][1] > maxY)
                    maxY = coordinates[0][j][1];
            }
            var centerItem = {
                "type": "Feature",
                "properties": {"photographer_id": item.properties.photographer_id},
                "geometry": {
                    "coordinates": [coorXSum / countSum, coorYSum / countSum],
                    "type": "Point"
                }
            };
            centerPointerData.push(centerItem);
        });
    }

    map.on('load', function() {
        map.loadImage(
            'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
            function(error, image) {
                if (error) throw error;
                map.addImage('custom-marker', image);
                map.addSource('points', {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': centerPointerData
                    }
                });
                map.addLayer({
                    'id': 'points',
                    'type': 'symbol',
                    'source': 'points',
                    'maxzoom': 6,
                    'layout': {
                        'icon-image': 'custom-marker',
                        // get the title name from the source's "title" property
                        // 'text-field': ['get', 'title'],
                        'text-font': [
                            'Open Sans Semibold',
                            'Arial Unicode MS Bold'
                        ],
                        'text-offset': [0, 1.25],
                        'text-anchor': 'top'
                    }
                });
            }
        )
        map.addSource('states', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': polygonData
            }
        });
        map.addLayer({
            'id': 'states-layer',
            'type': 'fill',
            'source': 'states',
            'minzoom': 6,
            'layout': {},
            'paint': {
                'fill-color': 'rgba(200, 100, 240, 0.2)',
                'fill-outline-color': 'rgba(200, 100, 240, 0.8)'
            }
        });
        // When a click event occurs on a feature in the states layer, open a popup at the
        // location of the click, with description HTML from its properties.
        map.on('click', 'states-layer', function (e) {
            getPhotographerDetail(e.features[0].properties.photographer_id);

        });

        // Change the cursor to a pointer when the mouse is over the states layer.
        map.on('mouseenter', 'states-layer', function () {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'states-layer', function () {
            map.getCanvas().style.cursor = '';
        });

        map.on('click', 'points', function (e) {
            getPhotographerDetail(e.features[0].properties.photographer_id);

        });

        // Change the cursor to a pointer when the mouse is over the states layer.
        map.on('mouseenter', 'points', function () {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'points', function () {
            map.getCanvas().style.cursor = '';
        });
        getPhotographerDetail();
    });

    var draw = new MapboxDraw({
        displayControlsDefault: false,
        controls: {
            polygon: true,
            trash: true
        },
    });
    map.addControl(draw);

    map.on('draw.create', updateArea);
    map.on('draw.delete', updateArea);
    map.on('draw.update', updateArea);

    function updateArea(e) {

        var data = draw.getAll();
        var zoom = map.getZoom();
        console.log(zoom);
        console.log(data);
        var geometryData = [];
        data.features.forEach(function (item, index) {
            geometryData.push(item);
        });
        var geometryDataStr = JSON.stringify(geometryData);
        $('#id_geometry').val(geometryDataStr);

    }

    map.on('zoom', function() {
        var zoom = map.getZoom();
        $('#id_zoom').val(zoom);
    });

    var feature = {
        'type': 'FeatureCollection',
        'features': geometryDataJson
    }

    $('#draw_polygon').click(function() {
        $('.mapbox-gl-draw_polygon').trigger('click');
    })

    $('#delete_polygon').click(function() {
        $('.mapbox-gl-draw_trash').trigger('click');
    })

    var featureIds = draw.add(feature);

    var featureIds = draw.add(feature);

    function checkForm() {
        if ($('#id_geometry').val() == '')
        {
            alert('Please select one or more area');
            return false;
        }
        return true;
    }

    $('.save-btn').click(function() {
        if ($('#id_geometry').val() == '' || $('#id_geometry').val() == '[]')
        {
            Swal.fire({
                title: 'Required One or More Area.',
                icon: 'error',
                showCloseButton: true,
            })
            return false;
        }
        $('#job_create_form').submit()
        return true;
    })

    function getPhotographerDetail() {
        var geometry = $('#id_geometry').val();
        var geometryDataJson = JSON.parse(geometry);

        var zoom = {{ photographer.zoom }};
        var coorXSum = 0;
        var coorYSum = 0;
        var countSum = 0;
        var minX = 0;
        var maxX = 0;
        var minY = 0;
        var maxY = 0;
        for(j = 0; j < geometryDataJson.length; j++)
        {
            var coordinates = geometryDataJson[j].geometry.coordinates;

            for (i = 0; i < coordinates[0].length; i++)
            {
                coorXSum += coordinates[0][i][0];
                coorYSum += coordinates[0][i][1];
                countSum++;
                if (coordinates[0][i][0] < minX)
                    minX = coordinates[0][i][0];
                if (coordinates[0][i][0] > maxX)
                    maxX = coordinates[0][i][0];
                if (coordinates[0][i][1] < minY)
                    minY = coordinates[0][i][0];
                if (coordinates[0][i][1] > maxY)
                    maxY = coordinates[0][i][1];
            }
        }

        var coorX = coorXSum / countSum;
        var coorY = coorYSum / countSum;
        map.flyTo({ center: [coorX, coorY], zoom: zoom});

        $('#delete_form').html(getCSRFTokenValue())
        $('#photographerDetailModal').modal({
            'backdrop': false,
            'show': true,
        });
    }


  </script>
{% endblock %}