{% extends 'layouts/base.html' %}
{% load static %}
{% block app_photographer %}active{% endblock %}
{% block app_style %}<link rel="stylesheet" href="{% static 'css/photographer_style.css' %}">{% endblock %}
{% block content %}

<div class="main-body">
    <div class="left-side d-flex flex-column justify-content-between">
        <div>
            <div class="photographer p-3">
                <div class="photographer-header pt-3 mb-3">
                    <h3>
                        Photographer
                    </h3>
                </div>
                <div class="photographer-body">
                    <p>
                        {{ pageDescription }}
                    </p>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}
            <div class="w-100 d-flex justify-content-end mt-3 mb-3 pr-3">
                <a href="{% url 'photographer.photographer_create' %}" class="btn btn-outline-primary">Create Photographer</a>
            </div>
            <div class="ml-3 mb-2 mr-3">
                <h4>Filter Photographer</h4>
            </div>
            {% if user.is_authenticated %}
                <ul class="nav nav-tabs text-center border-bottom-0 " id="myTab" role="tablist">
                    <li class="nav-item" style="width: 30%;">
                        <a class="nav-link {% if pageName == 'Photographers' %}active{% endif %}" href="{% url 'photographer.photographer_list' %}">All</a>
                    </li>
                    <li class="nav-item" style="width: 50%;">
                        <a class="nav-link {% if pageName == 'My Photographers' %}active{% endif %}" href="{% url 'photographer.my_photographer_list'  %}">My Photographers</a>
                    </li>
                </ul>
            {% endif %}

            <div class="p-3" style="border-top: 1px solid #dee2e6;">
                <div class="search-form">
                    <form method="GET" class="post-form" id="search_form">
                        <input type="number" class="d-none" name="page" value="{{ page }}">
                        {{ form.media }}
                        {{ form.as_p }}
                        <div class="form-group text-right mt-3">
                            <button type="submit" class="save btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'components/copyrite.html' %}
    </div>
    <div class="right-board bg-light">
        <div class="switch-list-viewer">
            <input class="" type="checkbox" id="switch-list-viewer" data-toggle="toggle" data-on="Map View" data-off="List View" data-onstyle="success" data-offstyle="primary">
        </div>
        <div id="list-view" class="mt-4 mb-2 ml-auto mr-auto">
            <div class="paginator">
                {% if photographers.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if photographers.number != 1 %}
                            <li class="page-item">
                                <a class="btn paginator-btn page-link" data-page='1'>&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="btn page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in photographers.paginator.pages %}
                            {% if photographers.number == i %}
                                <li class="active page-item"><a class="btn paginator-btn page-link bg-info" data-page='{{ i }}'>{{ i }}</a></li>
                            {% else %}
                                <li><a class="btn paginator-btn page-link" data-page='{{ i }}'>{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if photographers.number != photographers.paginator.num_pages %}
                            <li class="page-item"><a class="btn paginator-btn page-link" data-page='{{ photographers.paginator.num_pages }}'>&raquo;</a></li>
                        {% else %}
                            <li class="disabled page-item"><a class="btn page-link disabled" href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="item-list">
                {% if photographers.count > 0 %}
                    {% for photographer in photographers %}
                        <div class="card row photographer p-3 m-3 d-flex flex-row align-items-center" id="photographer_{{ photographer.unique_id }}" data-photographer-id="{{ photographer.unique_id }}" onclick="getSequenceDetail('{{ photographer.unique_id }}')">
                            <div class="col-sm-5 col-md-4 col-lg-3">
                                <div class="row">
                                    <div class="w-100 min-map-box" id="map-{{ photographer.unique_id }}">
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-7 col-md-8 detail-box col-lg-9">
                                <div class="item-detail-box w-100 mt-3 pl-3 pr-3">
                                    <div class="item-main w-100 float-left">
                                        <div class="item-title text-info d-flex flex-row justify-content-between">
                                            <a href="{% url 'photographer.photographer_detail' unique_id=photographer.unique_id %}">
                                                <h6>{{ photographer.name }}</h6>
                                            </a>
                                        </div>

                                        <div class="item-description">
                                            <p class="mb-1">
                                                {{ photographer.getShortDescription }}
                                            </p>
                                        </div>

                                        <div class="item-description">
                                            <p class="mb-1">
                                                {{ photographer.getCaptureType }}, {{ photographer.getCaptureMethod }}
                                            </p>
                                        </div>

                                        <div class="item-description">
                                            <p class="mb-1">
                                                {{ photographer.created_at }}
                                            </p>
                                        </div>

                                        <div class="photographer-geometry d-none">{{ photographer.geometry }}</div>

                                        <div class="item-created-at text-secondary d-flex flex-row justify-content-between">
                                            <span class="">
                                                {{ photographer.created_at }}
                                            </span>

                                            <a href="{% url 'account.profile' username=photographer.user.username %}">
                                                <span class="" style="color: brown;">
                                                    {{ photographer.user }}
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="no-results d-flex justify-content-center align-items-center">
                        <h5 class="text-info">No results match your criteria.</h5>
                    </div>
                {% endif %}
            </div>
            <div class="paginator">
                {% if photographers.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if photographers.number != 1 %}
                            <li class="page-item">
                                <a class="btn paginator-btn page-link" data-page='1'>&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="btn page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in photographers.paginator.pages %}
                            {% if photographers.number == i %}
                                <li class="active page-item"><a class="btn paginator-btn page-link bg-info" data-page='{{ i }}'>{{ i }}</a></li>
                            {% else %}
                                <li><a class="btn paginator-btn page-link" data-page='{{ i }}'>{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if photographers.number != photographers.paginator.num_pages %}
                            <li class="page-item"><a class="btn paginator-btn page-link" data-page='{{ photographers.paginator.num_pages }}'>&raquo;</a></li>
                        {% else %}
                            <li class="disabled page-item"><a class="btn page-link disabled" href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="d-none" id="map"></div>
    </div>


    <!-- Modal -->
    <div class="photographer-detail modal fade" style="padding-top: 80px !important;" id="photographerDetailModal">
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>

    $('.paginator-btn').click(function() {
        var pageNum = $(this).data('page');
        $('#search_form').find('input[name="page"]').val(pageNum);
        {% if pageName == 'Photographers' %}
            var url = "{% url 'photographer.photographer_list' %}?" + $('#search_form').serialize()
        {% else %}
            var url = "{% url 'photographer.my_photographer_list' %}?" + $('#search_form').serialize()
        {% endif %}
        location.assign(url);
    });

    $('#headingOne').click(function () {
        if ($(this).hasClass('collapsed'))
        {
            $(this).find('.fa-chevron-down').addClass('d-none');
            $(this).find('.fa-chevron-up').removeClass('d-none');
        }
        else
        {
            $(this).find('.fa-chevron-down').removeClass('d-none');
            $(this).find('.fa-chevron-up').addClass('d-none');
        }
    });

    // TO MAKE THE MAP APPEAR YOU MUST
	// ADD YOUR ACCESS TOKEN FROM
	// https://account.mapbox.com
    mapboxgl.accessToken = mapboxToken;
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
        center: [-74.5, 40], // starting position
        zoom: 1 // starting zoom
    });

    var photographerGeometryElements = $('.photographer-geometry');
    var polygonData = [];
    var centerPointerData = [];
    var map_ary = [];
    for (i = 0; i < photographerGeometryElements.length; i++)
    {
        var item = photographerGeometryElements.eq(i);
        var geometryData = item.text();
        var geometryDataJson = JSON.parse(geometryData);
        geometryDataJson.forEach(function (item, index) {
            polygonData.push(item);

            var minX = 0;
            var maxX = 0;
            var minY = 0;
            var maxY = 0;
            var coorXSum = 0;
            var coorYSum = 0;
            var countSum = 0;

            var coordinates = item.geometry.coordinates;
            for (j = 0; j < coordinates[0].length; j++)
            {
                coorXSum += coordinates[0][j][0];
                coorYSum += coordinates[0][j][1];
                countSum++;
                if (coordinates[0][j][0] < minX)
                    minX = coordinates[0][j][0];
                if (coordinates[0][j][0] > maxX)
                    maxX = coordinates[0][j][0];
                if (coordinates[0][j][1] < minY)
                    minY = coordinates[0][j][1];
                if (coordinates[0][j][1] > maxY)
                    maxY = coordinates[0][j][1];
            }
            var centerItem = {
                "type": "Feature", 
                "properties": {"photographer_id": item.properties.photographer_id}, 
                "geometry": {
                    "coordinates": [coorXSum / countSum, coorYSum / countSum], 
                    "type": "Point"
                }
            };
            centerPointerData.push(centerItem);
        });
        draw_map(i, geometryDataJson)
    }

    map.on('load', function() {
        map.loadImage(
            'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
            function(error, image) {
                if (error) throw error;
                map.addImage('custom-marker', image);
                map.addSource('points', {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': centerPointerData
                    }
                });
                map.addLayer({
                    'id': 'points',
                    'type': 'symbol',
                    'source': 'points',
                    'maxzoom': 6,
                    'layout': {
                        'icon-image': 'custom-marker',
                        // get the title name from the source's "title" property
                        // 'text-field': ['get', 'title'],
                        'text-font': [
                            'Open Sans Semibold',
                            'Arial Unicode MS Bold'
                        ],
                        'text-offset': [0, 1.25],
                        'text-anchor': 'top'
                    }
                });
            }
        )
        map.addSource('states', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': polygonData
            }
        });
        map.addLayer({
            'id': 'states-layer',
            'type': 'fill',
            'source': 'states',
            'minzoom': 6,
            'layout': {},
            'paint': {
                'fill-color': 'rgba(200, 100, 240, 0.2)',
                'fill-outline-color': 'rgba(200, 100, 240, 0.8)'
            }
        });
        // When a click event occurs on a feature in the states layer, open a popup at the
        // location of the click, with description HTML from its properties.
        map.on('click', 'states-layer', function (e) {
            getPhotographerDetail(e.features[0].properties.photographer_id);

        });

        // Change the cursor to a pointer when the mouse is over the states layer.
        map.on('mouseenter', 'states-layer', function () {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'states-layer', function () {
            map.getCanvas().style.cursor = '';
        });

        map.on('click', 'points', function (e) {
            getPhotographerDetail(e.features[0].properties.photographer_id);

        });

        // Change the cursor to a pointer when the mouse is over the states layer.
        map.on('mouseenter', 'points', function () {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'points', function () {
            map.getCanvas().style.cursor = '';
        });
    });
    
    function getPhotographerDetail(id) {
        $.ajax({
            url: '/hire/ajax/get_photographer_detail/' + id,
            type: 'GET',
            data: {},
            dataType: 'json',
            success: function (data) {
                if (!data.photographer) {
                    alert(data.error_message);
                    return;
                }
                var photographer = data.photographer[0].fields;
                var geometryDataJson = JSON.parse(photographer.geometry);
                if (map.getLayer('selected-layer')) map.removeLayer('selected-layer');
                if (map.getSource('selected-source')) map.removeSource('selected-source');
                map.addSource('selected-source', {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': geometryDataJson
                    }
                });
                map.addLayer({
                    'id': 'selected-layer',
                    'type': 'fill',
                    'source': 'selected-source',
                    'layout': {},
                    'paint': {
                        'fill-color': 'rgba(100, 100, 240, 0.2)',
                        'fill-outline-color': 'rgba(200, 100, 240, 0.8)'
                    }
                });
                var zoom = photographer.zoom;
                var coorXSum = 0;
                var coorYSum = 0;
                var countSum = 0;
                var minX = 0;
                var maxX = 0;
                var minY = 0;
                var maxY = 0;
                for(j = 0; j < geometryDataJson.length; j++)
                {
                    var coordinates = geometryDataJson[j].geometry.coordinates;

                    for (i = 0; i < coordinates[0].length; i++)
                    {
                        coorXSum += coordinates[0][i][0];
                        coorYSum += coordinates[0][i][1];
                        countSum++;
                        if (coordinates[0][i][0] < minX)
                            minX = coordinates[0][i][0];
                        if (coordinates[0][i][0] > maxX)
                            maxX = coordinates[0][i][0];
                        if (coordinates[0][i][1] < minY)
                            minY = coordinates[0][i][0];
                        if (coordinates[0][i][1] > maxY)
                            maxY = coordinates[0][i][1];
                    }
                }

                var coorX = coorXSum / countSum;
                var coorY = coorYSum / countSum;
                map.flyTo({ center: [coorX, coorY], zoom: zoom});

                $('#photographerDetailModal').html(data.photographer_html_detail)
                $('#delete_form').html(getCSRFTokenValue())
                $('#photographerDetailModal').modal({
                    'backdrop': false,
                    'show': true,
                });
            }
        });
    }
    
    $('#switch-list-viewer').change(function () {
        if ($(this).prop('checked')) {
            $('#list-view').addClass('d-none');
            $('#map').removeClass('d-none');
        }
        else {
            $('#list-view').removeClass('d-none');
            $('#map').addClass('d-none');
        }
        map.resize();
    })



    function draw_map(ii, geometryDataJson) {
        var polygon_data = [];
        var centerPointer_data = [];
        var centerPoint = [0, 0];
        geometryDataJson.forEach(function (item, index) {
            polygon_data.push(item);
            var minX = 0;
            var maxX = 0;
            var minY = 0;
            var maxY = 0;
            var coorXSum = 0;
            var coorYSum = 0;
            var countSum = 0;

            var coordinates = item.geometry.coordinates;
            for (j = 0; j < coordinates[0].length; j++)
            {
                coorXSum += coordinates[0][j][0];
                coorYSum += coordinates[0][j][1];
                countSum++;
                if (coordinates[0][j][0] < minX)
                    minX = coordinates[0][j][0];
                if (coordinates[0][j][0] > maxX)
                    maxX = coordinates[0][j][0];
                if (coordinates[0][j][1] < minY)
                    minY = coordinates[0][j][1];
                if (coordinates[0][j][1] > maxY)
                    maxY = coordinates[0][j][1];
            }
            var centerItem = {
                "type": "Feature",
                "properties": {"photographer_id": item.properties.photographer_id},
                "geometry": {
                    "coordinates": [coorXSum / countSum, coorYSum / countSum],
                    "type": "Point"
                }
            };
            centerPoint[0] += coorXSum / countSum;
            centerPoint[1] += coorYSum / countSum;
            centerPointer_data.push(centerItem);
        });

        var obj = $('.min-map-box').eq(ii);
        var obj_id = obj.attr('id');

        if (centerPointer_data.length > 0) {
            centerPoint[0] = centerPoint[0] / centerPointer_data.length;
            centerPoint[1] = centerPoint[1] / centerPointer_data.length;
        }

        var map = new mapboxgl.Map({
            container: obj_id, // container id
            style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
            center: centerPoint, // starting position
            zoom: 3, // starting zoom
            attributionControl: false
        });

        map.on('load', function() {
            map.loadImage(
                'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
                function(error, image) {
                    if (error) throw error;
                    map.addImage('custom-marker', image);
                    map.addSource('points', {
                        'type': 'geojson',
                        'data': {
                            'type': 'FeatureCollection',
                            'features': centerPointer_data
                        }
                    });
                    map.addLayer({
                        'id': 'points',
                        'type': 'symbol',
                        'source': 'points',
                        'maxzoom': 6,
                        'layout': {
                            'icon-image': 'custom-marker',
                            // get the title name from the source's "title" property
                            // 'text-field': ['get', 'title'],
                            'text-font': [
                                'Open Sans Semibold',
                                'Arial Unicode MS Bold'
                            ],
                            'text-offset': [0, 1.25],
                            'text-anchor': 'top'
                        }
                    });
                }
            )
            map.addSource('states', {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': polygon_data
                }
            });
            map.addLayer({
                'id': 'states-layer',
                'type': 'fill',
                'source': 'states',
                'minzoom': 6,
                'layout': {},
                'paint': {
                    'fill-color': 'rgba(200, 100, 240, 0.2)',
                    'fill-outline-color': 'rgba(200, 100, 240, 0.8)'
                }
            });
        });
        map_ary.push(map);
        window.addEventListener('resize', function() { map_ary[map_ary.length - 1].resize(); });
    }
</script>
{% endblock %}