{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
{% block app_uploader %}active{% endblock %}
{% block app_style %}<link rel="stylesheet" href="{% static 'css/uploader_style.css' %}">{% endblock %}
<div class="main-body">
    <div class="container">
        <div class="row mt-3">
            <div class="text-center col-md-6">
                <a  href="https://test.com">
                    <img src="https://user-images.githubusercontent.com/1296409/91702290-6c0edf80-eb70-11ea-9c13-48b3ed7cc0a0.jpg" />
                </a>
            </div>

            <div class="text-center col-md-6">
                <a href="https://test.com">
                    <img src="https://user-images.githubusercontent.com/1296409/91702292-6c0edf80-eb70-11ea-8155-15850525dace.png" />
                </a>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="uploadPictureModal" tabindex="-1" role="dialog" aria-labelledby="uploadPictureModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="uploadPictureModalLabel">Upload Picture</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="file-upload">
                    <form action="{% url 'account.ajax_upload_file' %}" class="dropzone ml-auto mr-auto d-flex align-items-center justify-content-center">
                      <div class="fallback">
                        <input name="avatar" type="file" multiple="false" />
                      </div>
                    </form>
                    <div class="text-right mt-3">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary d-none" id='uploadfile'>Upload</button>
                <button type="button" class="btn btn-danger d-none" id="removefile">Remove</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="userDetailModal" tabindex="-1" role="dialog" aria-labelledby="userDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                    <h5 class="modal-title" id="userDetailModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="main-user-form">
                    <form method="POST" class="post-form" id="user_edit_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary save-btn" id="user_save_button">Save changes</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script>
    $.ajaxSetup({
        data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
    });

    $('#user_cancel_button').click(function () {
        $('.main-user-form').addClass('d-none');
        $('.main-user').removeClass('d-none');
    });
    $('#user_save_button').click(function () {
        if ($('#user_edit_form').isValid()) {
            $.ajax({
                url: "{% url 'account.ajax_user_update' %}",
                type: 'POST',
                data: $('#user_edit_form').serialize(),
                dataType: 'json',
                success: function (data) {
                    if (data.status == 'failed')
                        toastr.error(data.message);
                    else
                    {
                        toastr.success(data.message);
                        var user = data.user;
                        $('.main-user .user-email h5').html(user.email);
                        $('.main-user .user-name p').html(user.first_name + ' ' + user.last_name);
                        $('.main-user .user-description p').html(user.description);
                        $('.main-user .user-website').html('<a class="" href="' + user.website_url + '">' + user.website_url + '</a>');
                    }
                    $('#userDetailModal').modal('hide');
                }
            });
        }
    });

    Dropzone.autoDiscover = false;
    {% if current_user.avatar == '' or current_user.avatar is None %}
        var server_image = false;
    {% else %}
        var server_image = true;
    {% endif %}

    var myDropzone = new Dropzone(".dropzone", {
        autoProcessQueue: false,
        uploadMultiple: false,
        parallelUploads: 1,
        paramName: "avatar", // The name that will be used to transfer the file
        maxFilesize: 20,
        {#addRemoveLinks: true,#}
        maxFiles: 1,
        thumbnailWidth: 200,
        thumbnailHeight: 200,
        sending: function(file, xhr, formData) {
            formData.append("csrfmiddlewaretoken", '{{ csrf_token }}');
        },
        init: function() {
            this.on("maxfilesexceeded", function(file) {
                this.removeAllFiles();
                this.addFile(file);
            });
            this.on("success", function(file, responseText) {
                toastr.success('A picture is updated successfully.');
            });
            this.on("thumbnail", function(file, dataUrl) {
                $('.dz-image').css('border-radius', '0px');
                $('.dz-image img').css('width', '100%');
                $('.dz-image img').css('height', '100%');
                $('.dz-details').remove();
                $('.dropzone .dz-preview').off('hover');
            });
            this.on('addedfile', function () {
                $('#uploadfile').removeClass('d-none');
                $('#removefile').removeClass('d-none');
                if (server_image)
                    $('#cancelfile').removeClass('d-none');
                else
                    $('#cancelfile').addClass('d-none');
            });
            this.on('removedfile', function () {
                $('#uploadfile').addClass('d-none');
                $('#removefile').addClass('d-none');
            });
            this.on('complete', function () {
                var h = $('.dz-image').html();
                $('.dz-image-cover').html(h);
                server_image = true;
                this.removeAllFiles();
                $('#cancelfile').addClass('d-none');
                $('#uploadPictureModal').modal('hide');
                $('#user_cover_image').removeClass('d-none');
            });

            $('#change_file').click(function () {
                $('#user_cover_image').addClass('d-none');
                $('#file-upload').removeClass('d-none');
            });
        }
    });

    $('#cancelfile').click(function () {
        myDropzone.removeAllFiles();
        $('#user_cover_image').removeClass('d-none');
        $('#file-upload').addClass('d-none');
    });

    $('#removefile').click(function () {
        myDropzone.removeAllFiles();
    });

    $('#uploadfile').click(function(){
        myDropzone.processQueue();
    });
</script>

<script>
    function switch_maillist() {
        if ($('#id_is_maillist').hasClass('d-none'))
        {
            $('#id_is_maillist').prev().addClass('d-none');
        }
        else {
            $('#id_is_maillist').prev().addClass('d-none');
        }
    }

    switch_maillist()
</script>
{% endblock %}