{% extends 'layouts/base.html' %}
{% load static %}
{% block app_home %}active{% endblock %}
{% block app_style %}<link rel="stylesheet" href="{% static 'css/home_style.css' %}">{% endblock %}
{% block content %}

<div class="main-body">
    <div class="left-side d-flex flex-column justify-content-between">
        <div>
            <div class="p-3">
                <div class="pt-3 mb-3">
                    <h3>
                        Map the Paths
                    </h3>
                </div>
                <div class="challenge-body">
                    <p>
                        {{ pageDescription }}
                    </p>
                </div>
            </div>
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}

            <div class="card mr-2 ml-2 mb-2">
                <div class="card-header">
                    <a href="{% url 'sequence.index' %}">
                        Sequences
                    </a>
                </div>
                <div class="card-body">
                    Sequences are collections of images continuously captured by a user at a give time. Browse those created by others, or import your own from Mapillary.
                </div>
            </div>

            <div class="card mr-2 ml-2 mb-2">
                <div class="card-header">
                    <a href="{% url 'tour.index' %}">
                        Tours
                    </a>
                </div>
                <div class="card-body">
                    Tours are collections of sequences that have been curated by their owner. Browse others' tours or create one using your own sequences.
                </div>
            </div>

            <div class="card mr-2 ml-2 mb-2">
                <div class="card-header">
                    <a href="{% url 'guidebook.home' %}">
                        Guidebooks
                    </a>
                </div>
                <div class="card-body">
                    Create a guidebook of street-level photos to show people around a location. View others people have created to help plan your next adventure.
                </div>
            </div>

            <div class="card mr-2 ml-2 mb-2">
                <div class="card-header">
                    <a href="{% url 'challenge.index' %}">
                        Challenges
                    </a>
                </div>
                <div class="card-body">
                    Help make better maps by contributing to challenges with specific requests for imagery.
                </div>
            </div>

            <div class="card mr-2 ml-2 mb-2">
                <div class="card-header">
                    <a href="{% url 'leaderboard.index' %}">
                        Leaderboard
                    </a>
                </div>
                <div class="card-body">
                    See who is topping the leaderboards for images and see where you place in the rankings.
                </div>
            </div>

            <div class="card mr-2 ml-2 mb-2">
                <div class="card-header">
                    <a href="{% url 'photographer.index' %}">
                        Hire
                    </a>
                </div>
                <div class="card-body">
                    Find paid help for image collection projects to create fresh street level map data in locations where it's needed for Google Street View, Mapillary, and more...
                </div>
            </div>

        </div>
        {% include 'components/copyrite.html' %}
    </div>
    <div class="right-board bg-light">
        <div id="map"></div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>

    mapboxgl.accessToken = mapboxToken;
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
        center: [-74.5, 40], // starting position
        zoom: 0 // starting zoom
    });

    map.on('load', function() {
    });

</script>
{% endblock %}