{% extends 'layouts/base.html' %}
{% load static %}
{% block title %}GuideBooks{% endblock %}
{% block app_guidebook %}active{% endblock %}
{% block app_style %}<link rel="stylesheet" href="{% static 'css/guidebook_style.css' %}">{% endblock %}
{% block content %}

<div class="main-body">
    <div class="left-side">
        <div class="p-3">
            <div class="pt-3 mb-3">
                <h2>
                    Guidebook
                </h2>
            </div>
            <p>
                Create a guidebook of street-level photos to show people around a location. View others people have created to help plan your next adventure.
            </p>
        </div>
        {% if messages %}
            {% for message in messages %}
            <div class="alert m-3 alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
        {% endif %}
        <div class="w-100 d-flex p-3 justify-content-end mt-3 mb-3">
            <div class="">
                <a class="btn btn-outline-primary" href="{% url 'guidebook.create' %}">
                    Create Guidebook
                </a>
            </div>
        </div>
        {% if user.is_authenticated %}
            <ul class="nav nav-tabs text-center border-bottom-0 " id="myTab" role="tablist">
                <li class="nav-item" style="width: 30%;">
                    <a class="nav-link {% if pageName == 'guidebook-list' %}active{% endif %}" href="{% url 'guidebook.guidebook_list' page=1 %}">All</a>
                </li>
                <li class="nav-item" style="width: 50%">
                    <a class="nav-link {% if pageName == 'my-guidebook-list' %}active{% endif %}" href="{% url 'guidebook.my_guidebook_list' page=1 %}">My Guidebooks</a>
                </li>
            </ul>
        {% endif %}
        <div class="p-3" style="border-top: 1px solid #dee2e6;">
            <div class="search-form">
                <form method="GET" class="post-form" id="search_form">
                    {{ form.as_p }}
                    <div class="form-group text-right mt-3">
                        <button type="submit" class="save btn btn-primary">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="right-board bg-light">
        <div class="main-list-board mt-4 mb-2 ml-auto mr-auto">
            <div class="guidebook-paginator">
                {% if guidebooks.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if guidebooks.number != 1 %}
                            <li class="page-item">
                                <a class="btn paginator-btn page-link" data-page='1'>&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="btn page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in guidebooks.paginator.pages %}
                            {% if guidebooks.number == i %}
                                <li class="active page-item"><a class="btn paginator-btn page-link bg-info" data-page='{{ i }}'>{{ i }}</a></li>
                            {% else %}
                                <li><a class="btn paginator-btn page-link" data-page='{{ i }}'>{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if guidebooks.number != guidebooks.paginator.num_pages %}
                            <li class="page-item"><a class="btn paginator-btn page-link" data-page='{{ guidebooks.paginator.num_pages }}'>&raquo;</a></li>
                        {% else %}
                            <li class="disabled page-item"><a class="btn page-link disabled" href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="guidebook-list">
                {% if guidebooks.count > 0 %}
                    {% for guidebook in guidebooks %}
                        <a href="{% url 'guidebook.guidebook_detail' unique_id=guidebook.unique_id %}">
                            <div class="card guidebook p-3 m-3 d-flex flex-row align-items-center" id="guidebook_{{ guidebook.unique_id }}" data-guidebook-id="{{ guidebook.unique_id }}" onclick="getGuidebookDetail('{{ guidebook.unique_id }}')">
                                <div class="map-box" id="map-{{ guidebook.unique_id }}">
                                </div>
                                <div class="d-none">

                                </div>
                                <div class="cover-image-box ml-3 mr-3">
                                    <img class="w-100" src="{{ STATIC_URL }}{{ guidebook.cover_image }}">
                                </div>
                                <div class="detail-box w-100">
                                    <div class="guidebook-main float-left">
                                        <div class="guidebook-title text-info">
                                            <h5>
                                                {{ guidebook.name }}
                                            </h5>
                                        </div>

                                        <div class="guidebook-description">
                                            <p class="mb-1">
                                                {{ guidebook.getShortDescription }}
                                            </p>
                                        </div>

                                        <div class="guidebook-cetegory" style="color: blueviolet;">
                                            <p class="mb-1">
                                                {{ guidebook.category }}
                                            </p>
                                        </div>

                                        <div class="guidebook-tag" style="min-height: 24px;">
                                            {% for tag_name in guidebook.getTags %}
                                                <span class="tag pl-1 pr-1 mt-1 mb-1 mr-1">
                                                    {{ tag_name }}
                                                </span>
                                            {% endfor %}
                                        </div>

                                        <div class="guidebook-created-at text-secondary">
                                            <span class="float-left">
                                                {{ guidebook.created_at }}
                                            </span>
                                            <span class="float-right" style="color: brown;">
                                                {{ guidebook.user }}
                                            </span>
                                        </div>

                                    </div>
                                    <div class="guidebook-others float-right d-flex flex-column justify-content-between">
                                        <div class="scenes text-center">
                                            {% if guidebook.getSceneCount == 0 %}
                                                <img src="{% static 'images/icon/icons8-photo-gallery-100 (1).png' %}" />
                                            {% else %}
                                                <img src="{% static 'images/icon/icons8-photo-gallery-100.png' %}" />
                                            {% endif %}
                                            <p class="text-center m-0">
                                                {{ guidebook.getSceneCount }}
                                            </p>
                                            <p class="text-center m-0">
                                                Photos
                                            </p>
                                        </div>
                                        <div class="like text-center">
                                            {% if guidebook.getLikeCount == 0 %}
                                                <img src="{% static 'images/icon/icons8-love-100.png' %}" />
                                            {% else %}
                                                <img src="{% static 'images/icon/icons8-love-48.png' %}" />
                                            {% endif %}
                                            <p class="text-center m-0">
                                                {{ guidebook.getLikeCount }} Likes
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                {% else %}
                    <div class="no-results d-flex justify-content-center align-items-center">
                        <h5 class="text-info">No results match your criteria.</h5>
                    </div>
                {% endif %}
            </div>
            <div class="guidebook-paginator">
                {% if guidebooks.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if guidebooks.number != 1 %}
                            <li class="page-item">
                                <a class="btn paginator-btn page-link" data-page='1'>&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="btn page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in guidebooks.paginator.pages %}
                            {% if guidebooks.number == i %}
                                <li class="active page-item"><a class="btn paginator-btn page-link bg-info" data-page='{{ i }}'>{{ i }}</a></li>
                            {% else %}
                                <li><a class="btn paginator-btn page-link" data-page='{{ i }}'>{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if guidebooks.number != guidebooks.paginator.num_pages %}
                            <li class="page-item"><a class="btn paginator-btn page-link" data-page='{{ guidebooks.paginator.num_pages }}'>&raquo;</a></li>
                        {% else %}
                            <li class="disabled page-item"><a class="btn page-link disabled" href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
<script>
    $('.paginator-btn').click(function() {
        var pageNum = $(this).data('page');
        location.assign("{% url 'guidebook.guidebook_list' %}" + pageNum + '?' + $('#search_form').serialize());
    });
    mapboxgl.accessToken = mapboxToken;
    var positions = [];
    {% for guidebook in guidebooks %}
        positions.push({{ guidebook.getScenePositions }});
    {% endfor %}

    console.log(positions)
    function draw_map(data) {
        var obj = $('.map-box').eq(i);
        var obj_id = obj.attr('id');
        var sceneData = [];
        var item = {};
        var scene_positions = [];
        for (var j = 0; j < data.length; j++)
        {
            var lat = data[j][0];
            var lng = data[j][1];
            scene_positions.push([lng, lat]);
            item = {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "coordinates": [lng, lat],
                    "type": "Point"
                }
            };
            sceneData.push(item);
        }

        if (scene_positions.length > 0)
            var first_point = scene_positions[0];
        else
            var first_point = null;
        if (first_point != null) {
            var map = new mapboxgl.Map({
                container: obj_id, // container id
                style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
                center: first_point, // starting position
                zoom: 12, // starting zoom
                attributionControl: false
            });
        }
        else {
            var map = new mapboxgl.Map({
                container: obj_id, // container id
                style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
                center: [-87.622088, 41.878781], // starting position
                zoom: 12, // starting zoom
                attributionControl: false
            });
        }
        map.on('load', function() {
            map.addSource('points', {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': sceneData
                }
            });
            map.addLayer({
                'id': 'mapillary-images',
                'type': 'circle',
                'source': 'points',
                "paint": {
                    "circle-color": "#039825",
                    "circle-radius": 6
                }
            });
        });
    }

    for (i = 0; i < positions.length; i++)
    {
        draw_map(positions[i])
    }



</script>
{% endblock %}