{% load static %}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="guidebookDetailModalTitle">Guidebooks</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {% for guidebook in guidebooks %}
                <div class="card p-2 mt-2">
                    <div class="guidebook-title">
                        <h5>{{ guidebook.name }}</h5>
                    </div>
                    <div class="guidebook-description">
                        <p>
                            {{ guidebook.description }}
                        </p>
                    </div>
                    <div class="link text-right">
                        <a type="button" href="{% url 'guidebook.guidebook_detail' unique_id=guidebook.unique_id %}" id="show_guidebook" class="btn btn-sm btn-success text-light" >Go to Detail Page</a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
