<div class="card poi" id="poi_{{ poi.pk }}">
    <div class="card-header " id="poi_header_{{ poi.pk }}">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left collapse-button" data-poi-id="{{ poi.pk }}" type="button" data-toggle="collapse" data-target="#poi_body_{{ poi.pk }}" aria-expanded="true" aria-controls="collapseOne">
{#                {{ poi.pk }}#}
                {{ poi.title }}
            </button>
        </h2>
    </div>

    <div id="poi_body_{{ poi.pk }}" class="collapse" aria-labelledby="poi_header_{{ poi.pk }}" data-parent="#poi_list">
        <div class="card-body">
            <form method="post">
                {{ poi_form.as_p }}

                <div class="d-flex align-items-center justify-content-between">
                    <div class="text-left">
                        <div class="d-none"><span>X: </span><span class="position-x">{{ poi.position_x }}</span></div>
                        <div class="d-none"><span>Y: </span><span class="position-y">{{ poi.position_y }}</span></div>
                    </div>

                    <div class="text-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Link Type
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javascript:showPOIVideoModal();">Link Video</a>
                                <a class="dropdown-item" href="javascript:uploadPOIImage();">Upload Image</a>
                            </div>
                        </div>
{#                        <button type="button" class="save btn btn-warning btn-sm save-btn" onclick="uploadPOIImage()" data-poi-id="{{ poi.pk }}" >Upload Image</button>#}
{#                        <button type="button" class="save btn btn-warning btn-sm save-btn" onclick="showPOIVideoModal()" data-poi-id="{{ poi.pk }}" >Link Video</button>#}
                        <button type="button" class="save btn btn-danger btn-sm delete-btn delete-poi-button" data-poi-id="{{ poi.pk }}" >Delete</button>
                        <button type="button" class="save btn btn-primary btn-sm save-btn save-poi-button" data-poi-id="{{ poi.pk }}" >Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>