{% extends 'layouts/base.html' %}
{% load static %}
{% block app_tour %}active{% endblock %}
{% block app_style %}<link rel="stylesheet" href="{% static 'css/sequence_style.css' %}">{% endblock %}
{% block content %}
<div class="main-body">
    <div class="left-side d-flex flex-column justify-content-between">
        <div>
            <div class="p-3">
                <div class="pt-3 mb-3">
                    <h3>
                        Tours
                    </h3>
                </div>

                <p>
                    {{ pageDescription }}
                </p>
            </div>
            {% if messages %}
                {% for message in messages %}
                <div class="alert m-3 alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            {% endif %}

            <div class="w-100 d-flex p-3 justify-content-end mt-3">
                <a class="btn btn-outline-primary" href="{% url 'tour.tour_create' %}">
                    Create Tour
                </a>
            </div>
            <div class="ml-3 mb-2 mr-3">
                <h4>Filter Tour</h4>
            </div>
            {% if user.is_authenticated %}
                <ul class="nav nav-tabs text-center border-bottom-0 " id="myTab" role="tablist">
                    <li class="nav-item" style="width: 30%;">
                        <a class="nav-link {% if pageName == 'Tours' %}active{% endif %}" href="{% url 'tour.tour_list' %}">All</a>
                    </li>
                    <li class="nav-item" style="width: 50%">
                        <a class="nav-link {% if pageName == 'My Tours' %}active{% endif %}" href="{% url 'tour.my_tour_list' %}">My Tours</a>
                    </li>
                </ul>
            {% endif %}

            <div class="p-3" style="border-top: 1px solid #dee2e6;">
                <div class="search-form">
                    <form method="GET" class="post-form" id="search_form">
                        <input type="number" class="d-none" name="page" value="{{ page }}">
                        {{ form.media }}
                        {{ form.as_p }}
                        <div class="form-group text-right mt-3">
                            <button type="submit" class="save btn btn-primary">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% include 'components/copyrite.html' %}
    </div>
    <div class="right-board bg-light">
        <div class="switch-list-viewer">
            <input class="" type="checkbox" id="switch-list-viewer" data-toggle="toggle" data-on="Map View" data-off="List View" data-onstyle="success" data-offstyle="primary">
        </div>
        <div id="list-view" class="mt-4 mb-2 ml-auto mr-auto">
            <div class="paginator">
                {% if tours.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if tours.number != 1 %}
                            <li class="page-item">
                                <a class="btn paginator-btn page-link" data-page='1'>&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="btn page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in tours.paginator.pages %}
                            {% if tours.number == i %}
                                <li class="active page-item"><a class="btn paginator-btn page-link bg-info" data-page='{{ i }}'>{{ i }}</a></li>
                            {% else %}
                                <li><a class="btn paginator-btn page-link" data-page='{{ i }}'>{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if tours.number != tours.paginator.num_pages %}
                            <li class="page-item"><a class="btn paginator-btn page-link" data-page='{{ tours.paginator.num_pages }}'>&raquo;</a></li>
                        {% else %}
                            <li class="disabled page-item"><a class="btn page-link disabled" href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
            <div class="item-list">
                {% if tours.count > 0 %}
                    {% for tour in tours %}
                        <div class="card row tour p-3 m-3 d-flex flex-row align-items-center" id="tour_{{ tour.unique_id }}" data-tour-id="{{ tour.unique_id }}">
                            <div class="col-md-5 col-lg-4 align-items-center">
                                <div class="row align-items-center">
                                    <div class="col-sm-6 pl-0 pr-2">
                                        <div class="min-map-box" id="map-{{ tour.unique_id }}">
                                        </div>
                                    </div>
                                    <div class="col-sm-6 cover-image-box">
                                        <div class="row">
                                            {% if tour.getCoverImage is None %}
                                                <img class="w-100" style="height: 140px" src="{% static 'images/global/empty-1.png' %}">
                                            {% else %}
                                                <img class="w-100" style="height: 140px" src="https://images.mapillary.com/{{ tour.getCoverImage }}/thumb-320.jpg">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-7 col-lg-8">
                                 <div class="item-detail-box pl-3 pr-3 w-auto">
                                    <div class="item-main w-100 float-left">
                                        <div class="item-title text-info d-flex flex-row justify-content-between">
                                            <a href="{% url 'tour.tour_detail' unique_id=tour.unique_id %}">
                                                <h6>{{ tour.name }}</h6>
                                            </a>
                                        </div>

                                        <div class="item-description">
                                            <p class="mb-1">
                                                {{ tour.getShortDescription }}
                                            </p>
                                        </div>

                                        <div class="w-100 d-flex flex-row">
                                            <p class="mb-1 mr-3">
                                                {{ tour.getSequenceCount }} Sequences
                                            </p>
                                            <p class="mb-1 mr-3">
                                                {{ tour.getDistance }} Km
                                            </p>
                                            <p class="mb-1 mr-3">
                                                {{ tour.getImageCount }} Panos
                                            </p>
                                        </div>

                                        <div class="item-tag" style="min-height: 24px;">
                                            {% for tag_name in tour.getTags %}
                                                <span class="tag pl-1 pr-1 mt-1 mb-1 mr-1" >
                                                    {{ tag_name }}
                                                </span>
                                            {% endfor %}

                                        </div>

                                        <div class="item-user">
                                            <a href="{% url 'account.profile' username=tour.user.username %}">
                                                <span class="user" style="color: brown;">{{ tour.user.username }}</span>
                                            </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="no-results d-flex justify-content-center align-items-center">
                        <h5 class="text-info">No results match your criteria.</h5>
                    </div>
                {% endif %}
            </div>
            <div class="paginator">
                {% if tours.has_other_pages %}
                    <ul class="pagination justify-content-center">
                        {% if tours.number != 1 %}
                            <li class="page-item">
                                <a class="btn paginator-btn page-link" data-page='1'>&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="btn page-link" href="#" tabindex="-1" aria-disabled="true">&laquo;</a>
                            </li>
                        {% endif %}
                        {% for i in tours.paginator.pages %}
                            {% if tours.number == i %}
                                <li class="active page-item"><a class="btn paginator-btn page-link bg-info" data-page='{{ i }}'>{{ i }}</a></li>
                            {% else %}
                                <li><a class="btn paginator-btn page-link" data-page='{{ i }}'>{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if tours.number != tours.paginator.num_pages %}
                            <li class="page-item"><a class="btn paginator-btn page-link" data-page='{{ tours.paginator.num_pages }}'>&raquo;</a></li>
                        {% else %}
                            <li class="disabled page-item"><a class="btn page-link disabled" href="#">&raquo;</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
        <div class="d-none" id="map"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $('.paginator-btn').click(function() {
        var pageNum = $(this).data('page');
        $('#search_form').find('input[name="page"]').val(pageNum);
        {% if pageName == 'tour-list' %}
            var url = "{% url 'tour.tour_list' %}?" + $('#search_form').serialize();
        {% else %}
            var url = "{% url 'tour.my_tour_list' %}?" + $('#search_form').serialize();
        {% endif %}
        location.assign(url);
    });
    mapboxgl.accessToken = mapboxToken;
    var positions = [];
    {% for tour in tours %}
        positions.push({{ tour.geometrySequence }});
    {% endfor %}

    var map_ary = [];
    function draw_map(i, data) {
        var obj = $('.min-map-box').eq(i);
        var obj_id = obj.attr('id');
        var sceneData = [];
        var item = {};
        var scene_positions = [];
        for (var j = 0; j < data.length; j++)
        {
            var lat = data[j][1];
            var lng = data[j][0];
            scene_positions.push([lng, lat]);
            item = {
                "type": "Feature",
                "properties": {},
                "geometry": {
                    "coordinates": [lng, lat],
                    "type": "Point"
                }
            };
            sceneData.push(item);
        }

        if (scene_positions.length > 0)
            var first_point = scene_positions[0];
        else
            var first_point = null;

        console.log('positions', sceneData)
        if (first_point != null) {
            var map = new mapboxgl.Map({
                container: obj_id, // container id
                style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
                center: first_point, // starting position
                zoom: 12, // starting zoom
                attributionControl: false
            });
        }
        else {
            var map = new mapboxgl.Map({
                container: obj_id, // container id
                style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
                center: [-87.622088, 41.878781], // starting position
                zoom: 12, // starting zoom
                attributionControl: false
            });
        }
        map.on('load', function() {
            map.addSource('points', {
                'type': 'geojson',
                'data': {
                    'type': 'FeatureCollection',
                    'features': sceneData
                }
            });
            map.addLayer({
                'id': 'mapillary-images',
                'type': 'circle',
                'source': 'points',
                "paint": {
                    "circle-color": "#039825",
                    "circle-radius": 6
                }
            });
        });
        map_ary.push(map);
        map.resize();
    }

    var centerPointerData = [];
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
        center: [-74.5, 40], // starting position
        zoom: 1 // starting zoom
    });

    for (i = 0; i < positions.length; i++)
    {
        draw_map(i, positions[i])
        drawMapView(i, positions[i])
    }

    function drawMapView(l, data) {
        if (data.length == 0)
            return false;
        var centerItem = {
            "type": "Feature",
            "properties": {"tour_id": $('.tour').eq(l).data('tour-id')},
            "geometry": {
                "coordinates": [data[0][0], data[0][1]],
                "type": "Point"
            }
        };
        centerPointerData.push(centerItem);
    }

    map.on('load', function() {
        map.loadImage(
            'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
            function(error, image) {
                if (error) throw error;
                map.addImage('custom-marker', image);
                map.addSource('points', {
                    'type': 'geojson',
                    'data': {
                        'type': 'FeatureCollection',
                        'features': centerPointerData
                    }
                });
                map.addLayer({
                    'id': 'points',
                    'type': 'symbol',
                    'source': 'points',
                    'layout': {
                        'icon-image': 'custom-marker',
                        // get the title name from the source's "title" property
                        // 'text-field': ['get', 'title'],
                        'text-font': [
                            'Open Sans Semibold',
                            'Arial Unicode MS Bold'
                        ],
                        'text-offset': [0, 1.25],
                        'text-anchor': 'top'
                    }
                });
            }
        )


        map.on('click', 'points', function (e) {
            gotoDetail(e.features[0].properties.tour_id);

        });

        // Change the cursor to a pointer when the mouse is over the states layer.
        map.on('mouseenter', 'points', function () {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'points', function () {
            map.getCanvas().style.cursor = '';
        });
    });


    function gotoDetail(id) {
        var url = "{% url 'tour.tour_detail' unique_id='unique_id' %}";
        url = url.replace('unique_id', id);
        location.assign(url);
    }

    $('#switch-list-viewer').change(function () {
        if ($(this).prop('checked')) {
            $('#list-view').addClass('d-none');
            $('#map').removeClass('d-none');
        }
        else {
            $('#list-view').removeClass('d-none');
            $('#map').addClass('d-none');
        }
        map.resize();
    })
</script>
{% endblock %}