.mapboxgl-map {
    height: calc(var(--vh, 1vh) * 100 - 100px) !important;
}


@media only screen and (max-width: 600px) {
    .mapboxgl-map {
        height: calc(var(--vh, 1vh) * 100 - 80px) !important;
    }
}

a {
    text-underline: none;
}