{% extends 'layouts/base.html' %}
{% load static %}
{% block app_label_challenge %}active{% endblock %}
{% block app_style %}<link rel="stylesheet" href="{% static 'css/challenge_style.css' %}">{% endblock %}
{% block content %}

<div class="main-body">
    <div class="left-side d-flex flex-column justify-content-between">
        <div>
            <div class="p-4 mt-3">

                <div class="card p-3 mt-3 mb-3" id="challenge_{{ challenge.unique_id }}" data-challenge-id="{{ challenge.unique_id }}">
                    <div class="challenge-title text-info">
                        <h5>
                            {{ challenge.name }}
                        </h5>
                    </div>

                    <div class="challenge-description">
                        <p>
                            {{ challenge.getShortDescription }}
                        </p>
                    </div>

                    <div class="challenge-options">
                        <p>
                            {{ challenge.getCaptureType }}, {{ challenge.getCaptureMethod }}
                        </p>
                    </div>

                    <div class="challenge-created-at text-secondary">
                        <h6>
                            {{ challenge.created_at }}
                        </h6>
                    </div>

                    <div class="challenge-geometry d-none">{{ challenge.geometry }}</div>
                </div>

                <h4>Contact this challenge</h4>

                <p>Send an email to this challenge to find out more about their services by filling in the form below. Don't forget to include links to further information about your job(s).</p>

                <form method="POST" class="post-form mt-3">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="form-group text-right">
                        <button type="submit" class="save btn btn-primary">Send</button>
                    </div>
                </form>

                <div class="challenge-geometry d-none">{{ challenge.geometry }}</div>
            </div>
        </div>
        {% include 'components/copyrite.html' %}
    </div>
    <div class="right-board bg-light">
        <div id="map">
            <div class="mapbox-attribution-container">
                <a href="https://www.mapbox.com/about/maps/">© Mapbox | </a>
                <a href="http://www.openstreetmap.org/copyright">© OpenStreetMap | </a>
                <a href="https://www.mapbox.com/map-feedback/" target="_blank"><strong>Improve this map</strong></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>

    // TO MAKE THE MAP APPEAR YOU MUST
	// ADD YOUR ACCESS TOKEN FROM
	// https://account.mapbox.com
    mapboxgl.accessToken = mapboxToken;
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
        center: [-74.5, 40], // starting position
        zoom: "{{ challenge.zoom }}" // starting zoom
    });

    var challengeGeometryElements = $('.challenge-geometry');
    var polygonData = [];
    for (i = 0; i < challengeGeometryElements.length; i++)
    {
        var item = challengeGeometryElements.eq(i);
        var geometryData = item.text();
        var geometryDataJson = JSON.parse(geometryData);
        geometryDataJson.forEach(function (item, index) {
            polygonData.push(item);
        });
    }

    map.on('load', function() {
        map.addSource('states', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': polygonData
            }
        });
        map.addLayer({
            'id': 'states-layer',
            'type': 'fill',
            'source': 'states',
            'layout': {},
            'paint': {
                'fill-color': 'rgba(200, 100, 240, 0.4)',
                'fill-outline-color': 'rgba(200, 100, 240, 1)'
            }
        });
    });

    getChallengeDetail("{{ challenge.unique_id }}");
    
    function getChallengeDetail(id) {
        var geometryDataJson = JSON.parse($('.challenge-geometry').text());
        var coorXSum = 0;
        var coorYSum = 0;
        var countSum = 0;
        var minX = 0;
        var maxX = 0;
        var minY = 0;
        var maxY = 0;
        for(j = 0; j < geometryDataJson.length; j++)
        {
            var coordinates = geometryDataJson[j].geometry.coordinates;

            for (i = 0; i < coordinates[0].length; i++)
            {
                coorXSum += coordinates[0][i][0];
                coorYSum += coordinates[0][i][1];
                countSum++;
                if (coordinates[0][i][0] < minX)
                    minX = coordinates[0][i][0];
                if (coordinates[0][i][0] > maxX)
                    maxX = coordinates[0][i][0];
                if (coordinates[0][i][1] < minY)
                    minY = coordinates[0][i][0];
                if (coordinates[0][i][1] > maxY)
                    maxY = coordinates[0][i][1];
            }
        }

        var coorX = coorXSum / countSum;
        var coorY = coorYSum / countSum;
        map.flyTo({ center: [coorX, coorY] });
    }
</script>
{% endblock %}