{% extends 'layouts/base.html' %}
{% load static %}
{% block app_marketpalce %}active{% endblock %}
{% block app_style %}<link rel="stylesheet" href="{% static 'css/marketplace_style.css' %}">{% endblock %}
{% block content %}

<div class="main-body">
    <div class="left-side">
        <div class="job-detail p-5">
            <h4 class="text-center text-primary">Job Detail</h4>
            <div>
                <h6 class="">
                    Name:
                </h6>
                <p class="">
                    {{ job.name }}
                </p>
            </div>

            <div>
                <h6 class="">
                    Organization Name:
                </h6>
                <p class="">
                    {{ job.organ_name }}
                </p>
            </div>

            <div>
                <h6 class="">
                    Organization Website:
                </h6>
                <p class="">
                    <a href="{{ job.organ_website }}" target="_blank">{{ job.organ_website }}</a>
                </p>
            </div>

            <div>
                <h6 class="">
                    Organization Category:
                </h6>
                <p class="">
                    {% if job.organ_category == 1 %}
                        Government
                    {% elif job.organ_category == 2 %}
                        Tourism
                    {% elif job.organ_category == 3 %}
                        Environment
                    {% endif %}
                </p>
            </div>

            <div>
                <h6 class="">
                    App Email:
                </h6>
                <p class="">
                    {{ job.app_email }}
                </p>
            </div>

            <div>
                <h6 class="">
                    Description:
                </h6>
                <p class="">
                    {{ job.description }}
                </p>
            </div>

            <div>
                <h6 class="">
                    Description:
                </h6>
                <p class="">
                    {{ job.description }}
                </p>
            </div>

            <p class="d-none" id="id_geometry">{{ job.geometry }}</p>

            <div>
                <h6 class="">
                    Date Time:
                </h6>
                <p class="">
                    {{ job.updated_at }}
                </p>
            </div>

{#            <div class="text-right">#}
{#                <a class="btn btn-primary" href="{% url 'marketplace.job_edit' unique_id=job.unique_id %}">Edit</a>#}
{#            </div>#}
        </div>
    </div>
    <div class="right-fixed-board bg-light">
        <div id="map"></div>
    </div>
</div>

{% endblock %}

{% block scripts %}
  <script>
    // TO MAKE THE MAP APPEAR YOU MUST
	// ADD YOUR ACCESS TOKEN FROM
	// https://account.mapbox.com
	mapboxgl.accessToken = mapboxToken;
    var map = new mapboxgl.Map({
        container: 'map', // container id
        style: 'mapbox://styles/mapbox/streets-v11', //hosted style id
        center: [-74.5, 40], // starting position
        zoom: 3 // starting zoom
    });

    var geometryData = $('#id_geometry').text();
    console.log(geometryData);
    var geometryDataJson = JSON.parse(geometryData);
    console.log(geometryDataJson);



    map.on('load', function() {
        map.addSource('states', {
            'type': 'geojson',
            'data': {
                'type': 'FeatureCollection',
                'features': geometryDataJson
            }
        });
        map.addLayer({
            'id': 'states-layer',
            'type': 'fill',
            'source': 'states',
            'layout': {},
            'paint': {
                'fill-color': 'rgba(200, 100, 240, 0.4)',
                'fill-outline-color': 'rgba(200, 100, 240, 1)'
            }
        });
        // When a click event occurs on a feature in the states layer, open a popup at the
        // location of the click, with description HTML from its properties.
        map.on('click', 'states-layer', function (e) {
            console.log(e);
            new mapboxgl.Popup()
                .setLngLat(e.lngLat)
                .setHTML(e.features[0].properties.job_id)
                .addTo(map);
        });

        // Change the cursor to a pointer when the mouse is over the states layer.
        map.on('mouseenter', 'states-layer', function () {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a pointer when it leaves.
        map.on('mouseleave', 'states-layer', function () {
            map.getCanvas().style.cursor = '';
        });
    });
  </script>
{% endblock %}