<body>
    <p>
        Hi {{ request.user.username }}!
    </p>
    <p>
    	You recently created the photographer profile: <a href="{{ BASE_URL }}{% url 'marketplace.my_photographer_edit' unique_id=photographer.unique_id %}" >{{ photographer.name }}</a> ({{ BASE_URL }}{% url 'marketplace.my_photographer_edit' unique_id=photographer.unique_id %}).
   	</p>
    <p>
    	It is currently being reviewed. This process takes no more than 72 hours. You will receive another email when it is approved.
    </p>
    <p>
        --<br/>
        The Trek View team!<br/>
        <a href="{{ BASE_URL }}">{{ BASE_URL }}</a>
    </p>
</body>
